extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "CHANGE_ME"
  - var siteURL = "https://www.dannylewandowski.com/_cog-DEV/_PROTOTYPING/Components/_BUILD/"

  style.
    .bg-gray-light3 {
      background-color: #e6e6e6 !important;
    }
    .bd-b-gray-light11 {
      border-bottom: 1px #999 solid;
    }

block content

  .grid-container
    .grid-x.grid-margin-x.grid-margin-y.medium-up-2.mb1
      .cell.bg-gray-light3.p1(data-aos="fade-right")
        h6 REVENUE
        h3.h1.text-blue-light.bd-b-gray-light11.pb1 $16.7B
        p.mb0 down 0.8% as reported and 0.7% in constant currency
          sup 1
          |  from 2019

      .cell.bg-gray-light3.p1(data-aos="fade-left")
        h6 CAPITAL RETURNED
        h3.h1.text-blue-light.bd-b-gray-light11.pb1 $2.1B
        p.mb0 through dividends and share repurchases

      .cell.bg-gray-light3.p1(data-aos="fade-right")
        h6 GAAP OPERATING INCOME
        h3.h1.text-blue-light.bd-b-gray-light11.pb1 $2.1B
        p.mb0 with 12.7% operating margin

      .cell.bg-gray-light3.p1(data-aos="fade-left")
        h6 FREE CASH FLOW
          sup 2
        h3.h1.text-blue-light.bd-b-gray-light11.pb1 $2.9B
        p.mb0 comprised of operating cash flow of $3.3B net of capex of $0.4B

      .cell.bg-gray-light3.p1(data-aos="fade-right")
        h6 ADJUSTED OPERATING INCOME
          sup 1
        h3.h1.text-blue-light.bd-b-gray-light11.pb1 $2.4B
        p.mb0 with 14.4% adjusted operating margin
          sup 1

      .cell.bg-gray-light3.p1(data-aos="fade-left")
        h6 CAPITAL DEPLOYED ON ACQUISITIONS
        h3.h1.text-blue-light.bd-b-gray-light11.pb1 $1.1B

    p.small 1 Constant currency revenue growth (CC), Adjusted Operating Income and Adjusted Operating Margin are not measurements of financial performance prepared in accordance with GAAP. See “Non-GAAP Financial Measures” in our 10-K (pages 27-29) for more information and a reconciliation to the most directly comparable GAAP financial measure, as applicable.

    p.small 2 Free cash flow is not a measurement of financial performance prepared in accordance with GAAP and is defined as cash flows from operating activities ($3.3 billion) net of purchases of property and equipment ($0.4 billion).

  hr

  .grid-container
    .grid-x.grid-padding-x
      .cell.medium-6
        h3.text-blue-medium 2020 performance and acquisitions
        p As a result of consistent execution and transformational progress, we exited 2020 well-positioned for future growth. Strong cash flow funded an accelerated pace of investments, driving improved commercial momentum and greater value for our shareholders.

      .cell.medium-6
        .grid-x.grid-padding-x.large-up-3.flex-container.align-middle
          .cell.p1
            img(style="max-height: 100px;" src="content/dam/cognizant_foundation/Dotcomimage/ei-technologies-logo.svg")
          .cell.p1
            img(style="max-height: 100px;" src="content/dam/cognizant_foundation/Dotcomimage/code-zero-logo.svg")
          .cell.p1
            img(style="max-height: 100px;" src="content/dam/cognizant_foundation/Dotcomimage/collaborative-solutions-logo.svg")
          .cell.p1
            img(style="max-height: 100px;" src="content/dam/cognizant_foundation/Dotcomimage/tin-roof-software-logo.svg")
          .cell.p1
            img(style="max-height: 100px;" src="content/dam/cognizant_foundation/Dotcomimage/10-magnitude-logo.svg")
          .cell.p1
            img(style="max-height: 100px;" src="content/dam/cognizant_foundation/Dotcomimage/lev-logo.svg")
          .cell.p1
            img(style="max-height: 100px;" src="content/dam/cognizant_foundation/Dotcomimage/new-signature-logo.svg")
          .cell.p1
            img(style="max-height: 100px;" src="content/dam/cognizant_foundation/Dotcomimage/bright-wolf-logo.svg")
          .cell.p1
            img(style="max-height: 100px;" src="content/dam/cognizant_foundation/Dotcomimage/inawisdom-logo.svg")
