extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "CHANGE_ME"
  - var siteURL = "https://www.dannylewandowski.com/_cog-DEV/_PROTOTYPING/Components/_BUILD/"

block content
  h1!= pageTitle

  .grid-container
    .grid-x.grid-padding-x
      .cell