extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "Case Study"

block content

  h1!= pageTitle

  mixin caseStudy
    .cell.auto.flex-container
      .anim-icon.flex-container.flex-child-auto
        .card.gradient-overlay-primary-full.bd-primary-4.box-shadow-hover.text-white(style="background: url(https://www.cognizant.com/content/dam/cognizant/en_us/dotcom/pages/case-studies/images/case-study-focus-on-patients-th.jpg) no-repeat; background-size: cover;")
          .mbn3.mt1.z1
            .label
              img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-lifeSciences.svg" width="20" style="filter: invert(1);")
              | Life sciences
          .card-section.pt2.medium-pt5.mt5.z1
            h5.m0 Focus on patients, not just prescriptions, to improve outcomes
          a.link-coverAll.card-divider.bg-transparent.pt0.text-right.z1(href="#")
              .grid-x.w100
                .cell
                  hr.mt0.mb1.opacity-50
                .cell.flex-container.align-right
                  h5.anim-icon
                    i.arrow-solid-right.fw600
                    .anim-text View

  a.button.tiny.m2(href="index.html") BACK
  .grid-container
    .grid-x.grid-padding-x
      .cell
        h3 Case-Study-Labels
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-communications.svg" width="20" style="filter: invert(1);")
            | Communications
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-consumerGoods.svg" width="20" style="filter: invert(1);")
            | Consumer Goods
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-education.svg" width="20" style="filter: invert(1);")
            | Education
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-energyUtilities.svg" width="20" style="filter: invert(1);")
            | Energy & Utilities
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-financialServices.svg" width="20" style="filter: invert(1);")
            | Financial Services
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-healthcare.svg" width="20" style="filter: invert(1);")
            | Healthcare
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-hospitality.svg" width="20" style="filter: invert(1);")
            | Hospitality
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-insurance.svg" width="20" style="filter: invert(1);")
            | Insurance
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-lifeSciences.svg" width="20" style="filter: invert(1);")
            | Life Sciences
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-manufacturingLogistics.svg" width="20" style="filter: invert(1);")
            | Manufacturing & Logistics
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-productsResources.svg" width="20" style="filter: invert(1);")
            | Products & Resources
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-retail.svg" width="20" style="filter: invert(1);")
            | Retail
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-technology.svg" width="20" style="filter: invert(1);")
            | Technology
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-travel.svg" width="20" style="filter: invert(1);")
            | travel
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-transportation.svg" width="20" style="filter: invert(1);")
            | Transportation & Logistics
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-mediaPublishing.svg" width="20" style="filter: invert(1);")
            | Media & Entertainment
        h6
          .label
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-informationServices.svg" width="20" style="filter: invert(1);")
            | Information Services

      .cell
        h3 Case-Study-Heading-Labels
        h6 Communications
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-communications.svg" width="40")
        h6 Consumer Goods
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-consumerGoods.svg" width="40")
        h6 Education
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-education.svg" width="40")
        h6 Energy Utilities
          img.opacity-30.ml-half(src="images/Case-Study-Icons/utilities.svg" width="40")
        h6 Financial Services
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-financialServices.svg" width="40")
        h6 Healthcare
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-healthcare.svg" width="40")
        h6 Hospitality
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-hospitality.svg" width="40")
        h6 Insurance
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-insurance.svg" width="40")
        h6 Life Sciences
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-lifeSciences.svg" width="40")
        h6 Manufacturing Logistics
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-manufacturingLogistics.svg" width="40")
        h6 Products Resources
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-productsResources.svg" width="40")
        h6 Retail
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-retail.svg" width="40")
        h6 Technology
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-technology.svg" width="40")
        h6 Travel
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-travel.svg" width="40")
        h6 Transportation & Logistics
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-transportation.svg" width="40")
        h6 Media & Entertainment
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-mediaPublishing.svg" width="40")
        h6 Information Services
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-informationServices.svg" width="40")



  hr
  h3 Case-Study-Tile (Light Background)

  //-
  //- =============================================================================================
  //-  ██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██    ██     ████████ ██ ██      ███████
  //- ██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██  ██  ██         ██    ██ ██      ██
  //- ██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██   ████          ██    ██ ██      █████
  //- ██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██    ██           ██    ██ ██      ██
  //-  ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████     ██           ██    ██ ███████ ███████
  //-
  //- =============================================================================================

  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
      +caseStudy
      +caseStudy
      +caseStudy



  //- -----  End of CASE STUDY TILE  ---------------------------------------------

  hr
  h3 Case-Study-Tile (Dark Background. Same construction, for reference only)


  //- =============================================================================================
  //-
  //-     ██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██    ██     ████████ ██ ██      ███████
  //- ██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██  ██  ██         ██    ██ ██      ██
  //- ██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██   ████          ██    ██ ██      █████
  //- ██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██    ██           ██    ██ ██      ██
  //-     ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████     ██           ██    ██ ███████ ███████
  //- ██████   █████  ██████  ██   ██     ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
  //- ██   ██ ██   ██ ██   ██ ██  ██      ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
  //- ██   ██ ███████ ██████  █████       ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
  //- ██   ██ ██   ██ ██   ██ ██  ██      ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
  //- ██████  ██   ██ ██   ██ ██   ██     ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
  //-
  //- =============================================================================================

  .bg-primary.py4
    .grid-container
      .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
        +caseStudy
        +caseStudy
        +caseStudy
      .my3
        a.button.large.arrow.m0(href="caseStudy-subPage.html") View all case studies
    //- -----  End of CASE STUDY TILE - DARK BACKGROUND  ---------------------------------------------

  hr
  h3 Case-Study-Detail (full page, unique URL)
  //- =============================================================================================
  //-  ██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██    ██
  //- ██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██  ██  ██
  //- ██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██   ████
  //- ██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██    ██
  //-  ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████     ██
  //- ███████ ██    ██ ██      ██          ██████   █████   ██████  ███████
  //- ██      ██    ██ ██      ██          ██   ██ ██   ██ ██       ██
  //- █████   ██    ██ ██      ██          ██████  ███████ ██   ███ █████
  //- ██      ██    ██ ██      ██          ██      ██   ██ ██    ██ ██
  //- ██       ██████  ███████ ███████     ██      ██   ██  ██████  ███████

  //- =============================================================================================
  mixin caseStudy-header
    //- ==============================  CASE STUDY HEADER  ==============================
    .grid-container
      .grid-x.grid-padding-x
        .cell.pt2
          p
            strong Life Sciences
            img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-lifeSciences.svg" width="40")
          h2 Focus on Patients, Not Just Prescriptions, to Improve Outcomes
  mixin caseStudy-full
      //- ==============================  CASE STUDY DETAIL  ==============================
      .grid-container.pt2
        .grid-x.grid-padding-x.medium-unstack
          //- ==========  LEFT COLUMN  ==========
          .cell.auto
            ul.menu.horizontal.h5.medium-mln1
              li
                a(href="#")
                  i.email
              li
                a(href="#")
                  i.logo-twitter-bird
              li
                a(href="#")
                  i.logo-facebook
              li
                a(href="#")
                  i.logo-linkedin
            a
              | Download full case study
              span.text-normal.small  (PDF, 3mb)
              i.ml-half.fw600.download

            hr.mt1

            h5 The challenge:

            p The shift to patient experience and treatment outcomes in the healthcare industry means that pharmaceuticals companies must put a new focus on the person behind the diagnosis. With complex insurance rules, and an upcoming patent expiration on its  agship drug, a large global biopharmaceuticals company needed a strategy to engage patients more deeply – and keep them loyal.

            p This pharma company valued our deep expertise in specialty drugs marketing and our past successful engagements, and asked us to partner on a strategy and approach for this important initiative.

            hr

            h5.bold Our approach:

            p We helped the pharma company craft a service strategy that focused on simplifying and streamlining treatment for the patient, and then delivered the underlying infrastructure.

            p By coordinating care, we helped the company create a patient experience providing services focused on the human involved in the treatment by connecting the various involved parties from insurance to nurses to pharmacies to valuable information about patient care.

            p A mobile app further empowers the patient to better manage treatment.

          //- ==========  RIGHT COLUMN  ==========
          .cell.auto
            img.w100.h100.object-fit-cover.object-position-right-top(src="images/Case-Study-Images-assets/caseStudy-focus-on-patients.jpg")


      //- ==============================  CASE STUDY RESULTS  ==============================
      .grid-container.bg-gray-lightest.medium-p1.large-p2
        .grid-x.grid-padding-x.medium-unstack

          //- ==========  LEFT COLUMN  ==========
          .cell.auto.mb3.medium-mb0
            h4 Support Past the Prescription Means Better Quality of Life

            p We helped the company create a program that would provides enrolled patients with an improved quality of life, fewer hospitalizations and lower overall healthcare costs. The company benefits from continued loyalty and adherence to treatment plans.


          //- ==========  RIGHT COLUMN  ==========
          .cell.auto
            h3.m0 $3,000
            p savings per year per patient on cost of care.

            h3.m0 +26%
            p Number of days an average patient is covered by the company’s drug.

            h3.m0 26%
            p Of health professionals using the program to prescribe more drugs.

        .grid-x.grid-padding-x.my2
          .cell
            p Want to learn more? Explore this case study further
            a.h5.m0(href="#")
              | Download full case study
              i.download.fw600.ml-half


      .grid-container
        .grid-x.grid-padding-x.medium-unstack.py1.align-middle
          .cell.auto.medium-bd-r1.py1.medium-py0
            a.flex-container.align-middle(href="#")
              .bg-green.px-half.py2.mr1
                h5.m0
                  i.arrow-left.fw600
              div
                p.text-normal.small.m0.text-gray-dark View industry
                | [Link back to referring industry goes here]
          .medium-3.cell.py1.medium-py0
            a.flex-container.align-middle.flex-dir-column(href="#")
              p.text-normal.small.m0.text-gray-dark View
              | Link to referring service goes here
          .cell.auto.medium-text-right.medium-bd-l1.py1.medium-py0
            a.flex-container.align-middle(href="#")
              div
                p.text-normal.small.m0.text-gray-dark Next
                | [Link to next case study article goes here]
              .bg-green.px-half.py2.ml1
                h5.m0
                  i.arrow-right.fw600

      .grid-container
        .grid-x.grid-padding-x
          .cell.text-center
            hr
            strong.small SPREAD THE WORD
            ul.menu.horizontal.h3.medium-mln1.align-center
              li
                a(href="#")
                  i.email
              li
                a(href="#")
                  i.logo-twitter-bird
              li
                a(href="#")
                  i.logo-facebook
              li
                a(href="#")
                  i.logo-linkedin

  +caseStudy-header
  +caseStudy-full

  hr
  h3 Single Case-Study-Detail (Shown on parent landing page instead of tiles)
  //- =============================================================================================
  //-
  //-  ██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██    ██
  //- ██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██  ██  ██
  //- ██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██   ████
  //- ██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██    ██
  //-  ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████     ██
  //- ███████ ██   ██ ██████   █████  ███    ██ ██████
  //- ██       ██ ██  ██   ██ ██   ██ ████   ██ ██   ██
  //- █████     ███   ██████  ███████ ██ ██  ██ ██   ██
  //- ██       ██ ██  ██      ██   ██ ██  ██ ██ ██   ██
  //- ███████ ██   ██ ██      ██   ██ ██   ████ ██████
  //-
  //- =============================================================================================

  //- ==============================  CASE STUDY HEADER  ==============================
  +caseStudy-header

  .grid-container
    .grid-x.grid-padding-x
      .cell
        //- ==============================  CASE STUDY DETAIL  ==============================
        ul.accordion(data-accordion data-multi-expand="false" data-allow-all-closed="true")
          li.accordion-item(data-accordion-item)
            a.accordion-title.bg-white.p0(href='#' data-toggle="arrow-toggle")
              .flex-container.align-center#expandControl(data-sticky-container)
                .sticky.text-primary-medium.bg-white.py1.w100.sidelines.mt0(data-sticky data-top-anchor="expandControl" data-btm-anchor="expandContent:bottom" data-check-every="1") Expand
                  i.arrow-down.ml-half.fw600#arrow-toggle(data-toggler=".arrow-up")
              //- | Expand
              //- i.arrow-down.ml-half.fw600#arrow-toggle(data-toggler=".arrow-up")
            .accordion-content.bd0.text-left.px0#expandContent(data-tab-content)
              +caseStudy-full


        :markdown-it
          Non reprehenderit deserunt consectetur ad fugiat et eu esse consectetur dolor deserunt sit ea minim. Velit quis mollit ex consequat excepteur nisi exercitation commodo et tempor adipisicing. Do nostrud labore Lorem magna ad duis ea dolor sit magna occaecat occaecat in anim ut occaecat et.

          Reprehenderit amet cillum minim officia commodo non adipisicing occaecat pariatur magna. In qui minim anim nostrud ipsum in sunt ea commodo amet culpa tempor. Id laborum aliquip mollit nostrud voluptate qui occaecat pariatur veniam eiusmod esse eiusmod officia quis. Ea enim ullamco exercitation ea cillum deserunt excepteur anim tempor id. Eiusmod veniam fugiat nulla veniam laboris minim irure enim magna est aute ad. Eu veniam eiusmod voluptate eiusmod occaecat qui sit pariatur dolore reprehenderit duis nisi velit. Nulla incididunt ipsum minim consectetur cupidatat dolor deserunt velit anim aute. Irure laboris in deserunt voluptate qui qui tempor sit elit eu non id nisi pariatur cupidatat ut reprehenderit.

          Laborum culpa sit nisi non officia do non occaecat excepteur fugiat. Minim non ex aliqua irure et fugiat laborum et fugiat pariatur amet aliquip Lorem aute. Duis Lorem velit consequat laboris irure culpa minim. Et Lorem sunt nulla minim irure anim ad esse eiusmod. Tempor eu et ea ex id eiusmod Lorem esse pariatur. Duis ea qui est ad voluptate tempor incididunt laborum non in quis consectetur occaecat proident ipsum dolor aliquip. Commodo eu minim aliquip et consectetur excepteur ea ea nulla irure dolor pariatur nulla velit.

          Ullamco eu tempor ea amet nisi dolore laborum exercitation exercitation ex consectetur magna mollit minim laboris. Sunt anim officia non consectetur qui anim ipsum. Velit cupidatat sit officia sunt tempor aliquip aliquip cillum cillum incididunt ut fugiat. Laboris laboris laborum magna occaecat sunt est non aute occaecat anim eu labore in et excepteur pariatur sit.
          Non reprehenderit deserunt consectetur ad fugiat et eu esse consectetur dolor deserunt sit ea minim. Velit quis mollit ex consequat excepteur nisi exercitation commodo et tempor adipisicing. Do nostrud labore Lorem magna ad duis ea dolor sit magna occaecat occaecat in anim ut occaecat et.

          Reprehenderit amet cillum minim officia commodo non adipisicing occaecat pariatur magna. In qui minim anim nostrud ipsum in sunt ea commodo amet culpa tempor. Id laborum aliquip mollit nostrud voluptate qui occaecat pariatur veniam eiusmod esse eiusmod officia quis. Ea enim ullamco exercitation ea cillum deserunt excepteur anim tempor id. Eiusmod veniam fugiat nulla veniam laboris minim irure enim magna est aute ad. Eu veniam eiusmod voluptate eiusmod occaecat qui sit pariatur dolore reprehenderit duis nisi velit. Nulla incididunt ipsum minim consectetur cupidatat dolor deserunt velit anim aute. Irure laboris in deserunt voluptate qui qui tempor sit elit eu non id nisi pariatur cupidatat ut reprehenderit.

          Laborum culpa sit nisi non officia do non occaecat excepteur fugiat. Minim non ex aliqua irure et fugiat laborum et fugiat pariatur amet aliquip Lorem aute. Duis Lorem velit consequat laboris irure culpa minim. Et Lorem sunt nulla minim irure anim ad esse eiusmod. Tempor eu et ea ex id eiusmod Lorem esse pariatur. Duis ea qui est ad voluptate tempor incididunt laborum non in quis consectetur occaecat proident ipsum dolor aliquip. Commodo eu minim aliquip et consectetur excepteur ea ea nulla irure dolor pariatur nulla velit.

          Ullamco eu tempor ea amet nisi dolore laborum exercitation exercitation ex consectetur magna mollit minim laboris. Sunt anim officia non consectetur qui anim ipsum. Velit cupidatat sit officia sunt tempor aliquip aliquip cillum cillum incididunt ut fugiat. Laboris laboris laborum magna occaecat sunt est non aute occaecat anim eu labore in et excepteur pariatur sit.
          Non reprehenderit deserunt consectetur ad fugiat et eu esse consectetur dolor deserunt sit ea minim. Velit quis mollit ex consequat excepteur nisi exercitation commodo et tempor adipisicing. Do nostrud labore Lorem magna ad duis ea dolor sit magna occaecat occaecat in anim ut occaecat et.

          Reprehenderit amet cillum minim officia commodo non adipisicing occaecat pariatur magna. In qui minim anim nostrud ipsum in sunt ea commodo amet culpa tempor. Id laborum aliquip mollit nostrud voluptate qui occaecat pariatur veniam eiusmod esse eiusmod officia quis. Ea enim ullamco exercitation ea cillum deserunt excepteur anim tempor id. Eiusmod veniam fugiat nulla veniam laboris minim irure enim magna est aute ad. Eu veniam eiusmod voluptate eiusmod occaecat qui sit pariatur dolore reprehenderit duis nisi velit. Nulla incididunt ipsum minim consectetur cupidatat dolor deserunt velit anim aute. Irure laboris in deserunt voluptate qui qui tempor sit elit eu non id nisi pariatur cupidatat ut reprehenderit.

          Laborum culpa sit nisi non officia do non occaecat excepteur fugiat. Minim non ex aliqua irure et fugiat laborum et fugiat pariatur amet aliquip Lorem aute. Duis Lorem velit consequat laboris irure culpa minim. Et Lorem sunt nulla minim irure anim ad esse eiusmod. Tempor eu et ea ex id eiusmod Lorem esse pariatur. Duis ea qui est ad voluptate tempor incididunt laborum non in quis consectetur occaecat proident ipsum dolor aliquip. Commodo eu minim aliquip et consectetur excepteur ea ea nulla irure dolor pariatur nulla velit.

          Ullamco eu tempor ea amet nisi dolore laborum exercitation exercitation ex consectetur magna mollit minim laboris. Sunt anim officia non consectetur qui anim ipsum. Velit cupidatat sit officia sunt tempor aliquip aliquip cillum cillum incididunt ut fugiat. Laboris laboris laborum magna occaecat sunt est non aute occaecat anim eu labore in et excepteur pariatur sit.
