extend __LAYOUT-TEMPLATE.pug
block content
  .py3
    .grid-container
      .grid-x.grid-padding-x.small-up-1.medium-up-3.align-center
        .cell.cell-block.flex-container.bg-primary
          .card.bg-primary
            .card-image
              img.object-fit-cover( style="height:300px" src='https://www.cognizant.com/content/dam/cognizant/en_us/dotcom/images/decision-making-the-new-frontier-for-automation-codex5476-thumbnail.jpg')
            .card-section.bg-primary
              h5 Decision-Making: The New Frontier for Automation
              p
                | Decision process automation is a forward-looking, practical strategy to improve enterprise operations, enabling faster responses to rapidly changing conditions and identifying options for action based on a more complete exploration of potential outcomes.
            .card-divider
              a.arrow(href='') Read more
        .cell.cell-block.flex-container
          .card
            .card-image
              img.object-fit-cover( style="height:300px" src='https://www.cognizant.com/content/dam/cognizant/en_us/dotcom/images/energy-and-utilities-under-pressure-codex5326_th.jpg')
            .card-section.bg-accent2-dark
              h5 Energy and Utilities Under Pressure
              p
                | Our recent study shows companies are already separating from the pack based on how they deploy advanced technologies and business models. In this e-book, we offer business and tech leaders in the fast evolving E&amp;U industry our research-based insights on the best next steps to take.
            .card-divider.bg-accent2-medium
              a.arrow(href='') Read more
        .cell.cell-block.flex-container
          .card
            .card-image
              img.object-fit-cover( style="height:300px" src='https://www.cognizant.com/content/dam/cognizant/en_us/dotcom/images/spotlight-market-guide-for-process-gartner.jpg')
            .card-section
              h5 Energy and Utilities Under Pressure
              p
                | Our recent study shows companies are already separating from the pack based on how they deploy advanced technologies and business models. In this e-book, we offer business and tech leaders in the fast evolving E&amp;U industry our research-based insights on the best next steps to take.
            .card-divider
              a.arrow(href='') Read more

  .bg-primary.py3
    .grid-container
      .grid-x.grid-padding-x.small-up-1.medium-up-3.align-center
        .cell.cell-block.flex-container
          .card.bg-accent1-dark
            .card-image
              img.object-fit-cover( style="height:300px" src='https://www.cognizant.com/content/dam/cognizant/en_us/dotcom/images/decision-making-the-new-frontier-for-automation-codex5476-thumbnail.jpg')
            .card-section
              h5 Decision-Making: The New Frontier for Automation
              p
                | Decision process automation is a forward-looking, practical strategy to improve enterprise operations, enabling faster responses to rapidly changing conditions and identifying options for action based on a more complete exploration of potential outcomes.
            .card-divider
              a.arrow(href='') Read more
        .cell.cell-block.flex-container
          .card
            .card-image
              img.object-fit-cover( style="height:300px" src='https://www.cognizant.com/content/dam/cognizant/en_us/dotcom/images/energy-and-utilities-under-pressure-codex5326_th.jpg')
            .card-section.bg-accent1-medium
              h5 Energy and Utilities Under Pressure
              p
                | Our recent study shows companies are already separating from the pack based on how they deploy advanced technologies and business models. In this e-book, we offer business and tech leaders in the fast evolving E&amp;U industry our research-based insights on the best next steps to take.
            .card-divider.bg-accent1-light
              a.arrow(href='') Read more
        .cell.cell-block.flex-container
          .card
            .card-image
              img.object-fit-cover( style="height:300px" src='https://www.cognizant.com/content/dam/cognizant/en_us/dotcom/images/spotlight-market-guide-for-process-gartner.jpg')
            .card-section
              h5 Energy and Utilities Under Pressure
              p
                | Our recent study shows companies are already separating from the pack based on how they deploy advanced technologies and business models. In this e-book, we offer business and tech leaders in the fast evolving E&amp;U industry our research-based insights on the best next steps to take.
            .card-divider
              a.arrow(href='') Read more
  .bg-accent2-dark.py3
    .grid-container
      .grid-x.grid-padding-x.small-up-1.medium-up-3.align-center
        .cell.cell-block.flex-container
          .card.p2.bg-gray-dark
            h5 Card with background dark gray
            p
              | Decision process automation is a forward-looking, practical strategy to improve enterprise operations, enabling faster responses to rapidly changing conditions and identifying options for action based on a more complete exploration of potential outcomes.
            a.arrow(href='') Read more
        .cell.cell-block.flex-container
          .card.p2
            h5 Card without background color
            p
              | Our recent study shows companies are already separating from the pack based on how they deploy advanced technologies and business models. In this e-book, we offer business and tech leaders in the fast evolving E&amp;U industry our research-based insights on the best next steps to take.
            a.arrow(href='') Read more
        .cell.cell-block.flex-container
          .card.p2.bg-accent2-light
            h5 Card with background accent2 light
            p
              | Our recent study shows companies are already separating from the pack based on how they deploy advanced technologies and business models. In this e-book, we offer business and tech leaders in the fast evolving E&amp;U industry our research-based insights on the best next steps to take.
            a.arrow(href='') Read more
        .cell.cell-block.flex-container
          .card.p2.bg-primary
            h5 Card with background primray
            p
              | Our recent study shows companies are already separating from the pack based on how they deploy advanced technologies and business models. In this e-book, we offer business and tech leaders in the fast evolving E&amp;U industry our research-based insights on the best next steps to take.
            a.arrow(href='') Read more
        .cell.cell-block.flex-container
          .card.p2.bg-gray-lighter
            h5 Card with background lighter gray
            p
              | Our recent study shows companies are already separating from the pack based on how they deploy advanced technologies and business models. In this e-book, we offer business and tech leaders in the fast evolving E&amp;U industry our research-based insights on the best next steps to take.
            a.arrow(href='') Read more
        .cell.cell-block.flex-container
          .card.p2.bg-white
            h5 Card with background white
            p
              | Our recent study shows companies are already separating from the pack based on how they deploy advanced technologies and business models. In this e-book, we offer business and tech leaders in the fast evolving E&amp;U industry our research-based insights on the best next steps to take.
            a.arrow(href='') Read more
