extend __LAYOUT-TEMPLATE.pug
block content
  .p1.bg-primary
    | bg-primary
    div
      h1.inline.m0 h1
      h2.inline.m0 h2
      h3.inline.m0 h3
      h4.inline.m0 h4
      h5.inline.m0 h5
      h6.inline.m0 h6
      p.m0 Paragraph
      a.block.mb1(href='#') Link
    .h5
      i.arrow-right
    .p1.bg-white.text-accent1-dark
      | bg-white & text accent1 dark
      div
        h1.inline.m0 h1
        h2.inline.m0 h2
        h3.inline.m0 h3
        h4.inline.m0 h4
        h5.inline.m0 h5
        h6.inline.m0 h6
        p.m0 Paragraph
        a.block.mb1(href='#') Link
      .h5
        i.arrow-right
    .p1.bg-gray-dark.text-accent2-light
      | bg-gray-dark & Text accent2 light
      div
        h1.inline.m0 h1
        h2.inline.m0 h2
        h3.inline.m0 h3
        h4.inline.m0 h4
        h5.inline.m0 h5
        h6.inline.m0 h6
        p.m0 Paragraph
        a.block.mb1(href='#') Link
      .text-gray-lighter
        | text-gray-lighter
        div
          h1.inline.m0 h1
          h2.inline.m0 h2
          h3.inline.m0 h3
          h4.inline.m0 h4
          h5.inline.m0 h5
          h6.inline.m0 h6
          p.m0 Paragraph
          a.block.mb1(href='#') Link
        .h5
          i.arrow-right
        .p1.bg-accent1-dark.text-accent1-light
          | bg-accent1-dark & accent1 light
          div
            h1.inline.m0 h1
            h2.inline.m0 h2
            h3.inline.m0 h3
            h4.inline.m0 h4
            h5.inline.m0 h5
            h6.inline.m0 h6
            p.m0 Paragraph
            a.block.mb1(href='#') Link
          .h5
            i.arrow-right
        .p1.bg-white.text-primary
          | bg-white.text-primary
          div
            h1.inline.m0 h1
            h2.inline.m0 h2
            h3.inline.m0 h3
            h4.inline.m0 h4
            h5.inline.m0 h5
            h6.inline.m0 h6
            p.m0 Paragraph
            a.block.mb1(href='#') Link
          .h5
            i.arrow-right
          .p1.bg-primary
            | bg-primary
            div
              h1.inline.m0 h1
              h2.inline.m0 h2
              h3.inline.m0 h3
              h4.inline.m0 h4
              h5.inline.m0 h5
              h6.inline.m0 h6
              p.m0 Paragraph
              a.block.mb1(href='#') Link
            .h5
              i.arrow-right
            .p1.bg-white.text-gray-dark
              | bg-white & Text Gray Dark
              div
                h1.inline.m0 h1
                h2.inline.m0 h2
                h3.inline.m0 h3
                h4.inline.m0 h4
                h5.inline.m0 h5
                h6.inline.m0 h6
                p.m0 Paragraph
                a.block.mb1(href='#') Link
              .h5
                i.arrow-right
            .p1.bg-gray-light
              | bg-gray-light
              div
                h1.inline.m0 h1
                h2.inline.m0 h2
                h3.inline.m0 h3
                h4.inline.m0 h4
                h5.inline.m0 h5
                h6.inline.m0 h6
                p.m0 Paragraph
                a.block.mb1(href='#') Link
              .h5
                i.arrow-right
            .p1.bg-gray-medium
              | bg-gray-medium
              div
                h1.inline.m0 h1
                h2.inline.m0 h2
                h3.inline.m0 h3
                h4.inline.m0 h4
                h5.inline.m0 h5
                h6.inline.m0 h6
                p.m0 Paragraph
                a.block.mb1(href='#') Link
              .h5
                i.arrow-right
            .p1.bg-gray-dark
              | bg-gray-dark
              div
                h1.inline.m0 h1
                h2.inline.m0 h2
                h3.inline.m0 h3
                h4.inline.m0 h4
                h5.inline.m0 h5
                h6.inline.m0 h6
                p.m0 Paragraph
                a.block.mb1(href='#') Link
              .h5
                i.arrow-right
  .p1
    div
      h1.inline.m0 h1
      h2.inline.m0 h2
      h3.inline.m0 h3
      h4.inline.m0 h4
      h5.inline.m0 h5
      h6.inline.m0 h6
      p.m0 Paragraph
      a.block.mb1(href='#') Link
    .h5
      i.arrow-right
    .bg-primary
      | bg-primary
      p.m0.text-accent1-light .text-accent1-light
      h1.m0.text-accent1-light h1.text-accent1-light
      h4.m0.text-accent1-light h4.text-accent1-light
      div
        h1.inline.m0 h1
        h2.inline.m0 h2
        h3.inline.m0 h3
        h4.inline.m0 h4
        h5.inline.m0 h5
        h6.inline.m0 h6
        p.m0 Paragraph
        a.block.mb1(href='#') Link
      .h5
        i.arrow-right
  .p1.bg-accent1-medium.text-white
    | .bg-accent1-medium.text-white
    div
      h1.inline.m0 h1
      h2.inline.m0 h2
      h3.inline.m0 h3
      h4.inline.m0 h4
      h5.inline.m0 h5
      h6.inline.m0 h6
      p.m0 Paragraph
      a.block.mb1(href='#') Link
    .h5
      i.arrow-right
  .p1.bg-accent1-medium
    | .bg-accent1-medium
    h4.text-white h4.text-white
    div
      h1.inline.m0 h1
      h2.inline.m0 h2
      h3.inline.m0 h3
      h4.inline.m0 h4
      h5.inline.m0 h5
      h6.inline.m0 h6
      p.m0 Paragraph
      a.block.mb1(href='#') Link
    .h5
      i.arrow-right