extend __LAYOUT-TEMPLATE.pug
block content
  //- div.py-half.custom-class.bg-dark.bg-size-cover.break-text(style="background-image:url(https://www.cognizant.com/content/dam/cognizant/en_us/campaigns/ai/us/images/ai-campaign-banner.jpg)")
                                        .innerbox.flex.align-right
                                          .block Bg Dark (Dark Bg Image & Inner Text White)
                                          h1 H1
                                          h2 H2
                                          h3 H3
                                          h4 H4
                                          h5 H5
                                          h6 H6
                                          P Paragraph Text
                                          a(href="#")  Anchor/Link Text
                                          a.button(class="arrow", href="#") Button
                                          a.button(class="", href="#") Button
                                          a.button(class="hollow", href="#") Hollow Button
                                          a.button(class="hollow arrow", href="#") Hollow Button
  div
    .custom-class
      .block Without Background
      h1 H1
      h2 H2
      h3 H3
      h4 H4
      h5 H5
      h6 H6
      a(href="#")  Anchor/Link Text
      a.button(class="arrow", href="#") Button
      a.button(class="", href="#") Button
      a.button(class="hollow", href="#") Hollow Button
      a.button(class="hollow arrow", href="#") Hollow Button
      P Paragraph Text
    div.py-half.custom-class.bg-primary
      .block Bg Primary
      h1 H1
      h2 H2
      h3 H3
      h4 H4
      h5 H5
      h6 H6
      P Paragraph Text
      a(href="#")  Anchor/Link Text
      a.button(class="arrow", href="#") Button
      a.button(class="", href="#") Button
      a.button(class="hollow", href="#") Hollow Button
      a.button(class="hollow arrow", href="#") Hollow Button
      div.py-half.custom-class.bg-gray-lighter
        .block Bg Gray Lighter
        h1 H1
        h2 H2
        h3 H3
        h4 H4
        h5 H5
        h6 H6
        P Paragraph Text
        a(href="#")  Anchor/Link Text
        a.button(class="arrow", href="#") Button
        a.button(class="", href="#") Button
        a.button(class="hollow", href="#") Hollow Button
        a.button(class="hollow arrow", href="#") Hollow Button
        div.py-half.custom-class.bg-accent2-medium
          .block Bg Accent2 medium
          h1 H1
          h2 H2
          h3 H3
          h4 H4
          h5 H5
          h6 H6
          P Paragraph Text
          a(href="#")  Anchor/Link Text
          a.button(class="arrow", href="#") Button
          a.button(class="", href="#") Button
          a.button(class="hollow", href="#") Hollow Button
          a.button(class="hollow arrow", href="#") Hollow Button
          div.py-half.custom-class.bg-gray-dark
            .block Bg Gray Dark
            h1 H1
            h2 H2
            h3 H3
            h4 H4
            h5 H5
            h6 H6
            P Paragraph Text
            a(href="#")  Anchor/Link Text
            a.button(class="arrow", href="#") Button
            a.button(class="", href="#") Button
            a.button(class="hollow", href="#") Hollow Button
            a.button(class="hollow arrow", href="#") Hollow Button
            div.py-half.custom-class.bg-gray-lightest
              .block Bg Gray Lightest
              h1 H1
              h2 H2
              h3 H3
              h4 H4
              h5 H5
              h6 H6
              P Paragraph Text
              a(href="#")  Anchor/Link Text
              a.button(class="arrow", href="#") Button
              a.button(class="", href="#") Button
              a.button(class="hollow", href="#") Hollow Button
              a.button(class="hollow arrow", href="#") Hollow Button
              div.py-half.custom-class.bg-white
                .block Bg White
                h1 H1
                h2 H2
                h3 H3
                h4 H4
                h5 H5
                h6 H6
                P Paragraph Text
                a(href="#")  Anchor/Link Text
                a.button(class="arrow", href="#") Button
                a.button(class="", href="#") Button
                a.button(class="hollow", href="#") Hollow Button
                a.button(class="hollow arrow", href="#") Hollow Button
                div.py-half.custom-class.bg-primary
                  .block Bg Primary
                  h1 H1
                  h2 H2
                  h3 H3
                  h4 H4
                  h5 H5
                  h6 H6
                  P Paragraph Text
                  a(href="#")  Anchor/Link Text
                  a.button(class="arrow", href="#") Button
                  a.button(class="", href="#") Button
                  a.button(class="hollow", href="#") Hollow Button
                  a.button(class="hollow arrow", href="#") Hollow Button
                  div.py-half.custom-class.bg-accent2-light
                    .block Bg Accent2 Light
                    h1 H1
                    h2 H2
                    h3 H3
                    h4 H4
                    h5 H5
                    h6 H6
                    P Paragraph Text
                    a(href="#")  Anchor/Link Text
                    a.button(class="arrow", href="#") Button
                    a.button(class="", href="#") Button
                    a.button(class="hollow", href="#") Hollow Button
                    a.button(class="hollow arrow", href="#") Hollow Button
                    div.py-half.custom-class.bg-accent1-light
                      .block Bg Accent1 Light
                      h1 H1
                      h2 H2
                      h3 H3
                      h4 H4
                      h5 H5
                      h6 H6
                      P Paragraph Text
                      a(href="#")  Anchor/Link Text
                      a.button(class="arrow", href="#") Button
                      a.button(class="", href="#") Button
                      a.button(class="hollow", href="#") Hollow Button
                      a.button(class="hollow arrow", href="#") Hollow Button
                      div.py-half.custom-class.bg-accent1-medium
                        .block Bg Accent1 Medium
                        h1 H1
                        h2 H2
                        h3 H3
                        h4 H4
                        h5 H5
                        h6 H6
                        P Paragraph Text
                        a(href="#")  Anchor/Link Text
                        a.button(class="arrow", href="#") Button
                        a.button(class="", href="#") Button
                        a.button(class="hollow", href="#") Hollow Button
                        a.button(class="hollow arrow", href="#") Hollow Button
                        div.py-half.custom-class.bg-gray-lighter
                          .block Bg Gray Lighter
                          h1 H1
                          h2 H2
                          h3 H3
                          h4 H4
                          h5 H5
                          h6 H6
                          P Paragraph Text
                          a(href="#")  Anchor/Link Text
                          a.button(class="arrow", href="#") Button
                          a.button(class="", href="#") Button
                          a.button(class="hollow", href="#") Hollow Button
                          a.button(class="hollow arrow", href="#") Hollow Button
                          div.py-half.custom-class.bg-gray-medium

                            .block Bg Gray Medium
                            h1 H1
                            h2 H2
                            h3 H3
                            h4 H4
                            h5 H5
                            h6 H6
                            P Paragraph Text
                            a(href="#")  Anchor/Link Text
                            a.button(class="arrow", href="#") Button
                            a.button(class="", href="#") Button
                            a.button(class="hollow", href="#") Hollow Button
                            a.button(class="hollow arrow", href="#") Hollow Button
                            div.py-half.custom-class.bg-gray-light
                              .block Bg Gray Light
                              h1 H1
                              h2 H2
                              h3 H3
                              h4 H4
                              h5 H5
                              h6 H6
                              P Paragraph Text
                              a(href="#")  Anchor/Link Text
                              a.button(class="arrow", href="#") Button
                              a.button(class="", href="#") Button
                              a.button(class="hollow", href="#") Hollow Button
                              a.button(class="hollow arrow", href="#") Hollow Button
                              div.py-half.custom-class.bg-accent2-dark
                                .block Bg Accent2 dark
                                h1 H1
                                h2 H2
                                h3 H3
                                h4 H4
                                h5 H5
                                h6 H6
                                P Paragraph Text
                                a(href="#")  Anchor/Link Text
                                a.button(class="arrow", href="#") Button
                                a.button(class="", href="#") Button
                                a.button(class="hollow", href="#") Hollow Button
                                a.button(class="hollow arrow", href="#") Hollow Button
                                div.py-half.custom-class.bg-accent1-medium
                                  .block Bg Accent1 Medium
                                  h1 H1
                                  h2 H2
                                  h3 H3
                                  h4 H4
                                  h5 H5
                                  h6 H6
                                  P Paragraph Text
                                  a(href="#")  Anchor/Link Text
                                  a.button(class="arrow", href="#") Button
                                  a.button(class="", href="#") Button
                                  a.button(class="hollow", href="#") Hollow Button
                                  a.button(class="hollow arrow", href="#") Hollow Button
                                  div.py-half.custom-class.bg-accent1-dark
                                    .block Bg Accent1 Dark
                                    h1 H1
                                    h2 H2
                                    h3 H3
                                    h4 H4
                                    h5 H5
                                    h6 H6
                                    P Paragraph Text
                                    a(href="#")  Anchor/Link Text
                                    a.button(class="arrow", href="#") Button
                                    a.button(class="", href="#") Button
                                    a.button(class="hollow", href="#") Hollow Button
                                    a.button(class="hollow arrow", href="#") Hollow Button
                                    div.py-half.custom-class.bg-gray-light
                                      .block Bg Gray Light
                                      h1 H1
                                      h2 H2
                                      h3 H3
                                      h4 H4
                                      h5 H5
                                      h6 H6
                                      P Paragraph Text
                                      a(href="#")  Anchor/Link Text
                                      a.button(class="arrow", href="#") Button
                                      a.button(class="", href="#") Button
                                      a.button(class="hollow", href="#") Hollow Button
                                      a.button(class="hollow arrow", href="#") Hollow Button
                                      div.py-half.custom-class.bg-color-dark.bg-size-cover.break-text(style="background-image:url(https://www.cognizant.com/content/dam/cognizant/en_us/campaigns/ai/us/images/ai-campaign-banner.jpg)")
                                        .innerbox.flex.align-right
                                          .block Bg Dark (Dark Bg Image & Inner Text White)
                                          h1 H1
                                          h2 H2
                                          h3 H3
                                          h4 H4
                                          h5 H5
                                          h6 H6
                                          P Paragraph Text
                                          a(href="#")  Anchor/Link Text
                                          a.button(class="arrow", href="#") Button
                                          a.button(class="", href="#") Button
                                          a.button(class="hollow", href="#") Hollow Button
                                          a.button(class="hollow arrow", href="#") Hollow Button
                                        div.py-half.custom-class.bg-size-cover.bg-color-medium(style="background-image:url(https://www.cognizant.com/us/en/images/DST_CIS.jpg)")
                                          .innerbox.flex.align-right(style= "margin-left:auto")
                                            .block Bg Medium (Medium bg image & Inner Text Dark - Similiar like Accent1 medium background)
                                            h1 H1
                                            h2 H2
                                            h3 H3
                                            h4 H4
                                            h5 H5
                                            h6 H6
                                            P Paragraph Text
                                            a(href="#")  Anchor/Link Text
                                            a.button(class="arrow", href="#") Button
                                            a.button(class="", href="#") Button
                                            a.button(class="hollow", href="#") Hollow Button
                                            a.button(class="hollow arrow", href="#") Hollow Button
                                        div.py-half.custom-class.bg-color-light.bg-size-cover.bg-pos-center(style="background-image:url(https://www.cognizant.com/content/dam/cognizant/en_us/dotcom/images/outreachbanner-desktop.jpg)")
                                          .innerbox.flex.align-right
                                            .block Bg light (Light Bg Image & Inner Text Dark - Similiar like White Background)
                                            h1 H1
                                            h2 H2
                                            h3 H3
                                            h4 H4
                                            h5 H5
                                            h6 H6
                                            P Paragraph Text
                                            a(href="#")  Anchor/Link Text
                                            a.button(class="arrow", href="#") Button
                                            a.button(class="", href="#") Button
                                            a.button(class="hollow", href="#") Hollow Button
                                            a.button(class="hollow arrow", href="#") Hollow Button
                                          div.py-half.custom-class.bg-size-cover.bg-pos-right(style="background-image:url(https://newuat.cognizant.com/content/dam/cognizant/en_us/dotcom/images/culture-values-revamp-banner-desktop.jpg)")
                                            .bg-primary-60.innerbox
                                              h1 H1
                                              h2 H2
                                              h3 H3
                                              h4 H4
                                              h5 H5
                                              h6 H6
                                              P Paragraph Text
                                              a(href="#")  Anchor/Link Text
                                              a.button(class="arrow", href="#") Button
                                              a.button(class="", href="#") Button
                                              a.button(class="hollow", href="#") Hollow Button
                                              a.button(class="hollow arrow", href="#") Hollow Button
                                          div.py-half.custom-class.bg-size-cover.bg-pos-right(style="background-image:url(https://newuat.cognizant.com/content/dam/cognizant/en_us/dotcom/images/culture-values-revamp-banner-desktop.jpg)")
                                            .bg-white-60.innerbox
                                              h1 H1
                                              h2 H2
                                              h3 H3
                                              h4 H4
                                              h5 H5
                                              h6 H6
                                              P Paragraph Text
                                              a(href="#")  Anchor/Link Text
                                              a.button(class="arrow", href="#") Button
                                              a.button(class="", href="#") Button
                                              a.button(class="hollow", href="#") Hollow Button
                                              a.button(class="hollow arrow", href="#") Hollow Button
                                          div.py-half.custom-class.bg-size-cover.bg-pos-right(style="background-image:url(https://newuat.cognizant.com/content/dam/cognizant/en_us/dotcom/images/culture-values-revamp-banner-desktop.jpg)")
                                            .bg-white-60.innerbox.text-accent1-medium
                                              div.block Bg White & Text Accent1 Medium
                                              h1 H1
                                              h2 H2
                                              h3 H3
                                              h4 H4
                                              h5 H5
                                              h6 H6
                                              P Paragraph Text
                                              a(href="#")  Anchor/Link Text
                                              a.button(class="arrow", href="#") Button
                                              a.button(class="", href="#") Button
                                              a.button(class="hollow", href="#") Hollow Button
                                              a.button(class="hollow arrow", href="#") Hollow Button
                                          div.py-half.custom-class.bg-size-cover.bg-pos-right(style="background-image:url(https://newuat.cognizant.com/content/dam/cognizant/en_us/dotcom/images/culture-values-revamp-banner-desktop.jpg)")
                                            .bg-white-60.innerbox.text-accent1-dark
                                              div.block Bg-white & Text Accent1 Dark
                                              h1 H1
                                              h2 H2
                                              h3 H3
                                              h4 H4
                                              h5 H5
                                              h6 H6
                                              P Paragraph Text
                                              a(href="#")  Anchor/Link Text
                                              a.button(class="arrow", href="#") Button
                                              a.button(class="", href="#") Button
                                              a.button(class="hollow", href="#") Hollow Button
                                              a.button(class="hollow arrow", href="#") Hollow Button
                                          div.py-half.custom-class.bg-size-cover.bg-pos-right(style="background-image:url(https://newuat.cognizant.com/content/dam/cognizant/en_us/dotcom/images/culture-values-revamp-banner-desktop.jpg)")
                                            .bg-white-60.innerbox.text-accent1-medium
                                              div.block Bg-white & Text Accent1 medium
                                              h1 H1
                                              h2 H2
                                              h3 H3
                                              h4 H4
                                              h5 H5
                                              h6 H6
                                              P Paragraph Text
                                              a(href="#")  Anchor/Link Text
                                              a.button(class="arrow", href="#") Button
                                              a.button(class="", href="#") Button
                                              a.button(class="hollow", href="#") Hollow Button
                                              a.button(class="hollow arrow", href="#") Hollow Button
                                          div.py-half.custom-class.bg-size-cover.bg-pos-right(style="background-image:url(https://newuat.cognizant.com/content/dam/cognizant/en_us/dotcom/images/culture-values-revamp-banner-desktop.jpg)")
                                            .bg-primary-60.innerbox.text-accent1-light
                                              div.block Bg-Primary & Text Accent1 light
                                              h1 H1
                                              h2 H2
                                              h3 H3
                                              h4 H4
                                              h5 H5
                                              h6 H6
                                              P Paragraph Text
                                              a(href="#")  Anchor/Link Text
                                              a.button(class="arrow", href="#") Button
                                              a.button(class="", href="#") Button
                                              a.button(class="hollow", href="#") Hollow Button
                                              a.button(class="hollow arrow", href="#") Hollow Button
                                          div.py-half.custom-class.bg-size-cover.bg-pos-right(style="background-image:url(https://newuat.cognizant.com/content/dam/cognizant/en_us/dotcom/images/culture-values-revamp-banner-desktop.jpg)")
                                            .bg-primary-85.innerbox.text-accent2-light
                                              div.block Bg-Primary & Text Accent2 light
                                              h1 H1
                                              h2 H2
                                              h3 H3
                                              h4 H4
                                              h5 H5
                                              h6 H6
                                              P Paragraph Text
                                              a(href="#")  Anchor/Link Text
                                              a.button(class="arrow", href="#") Button
                                              a.button(class="", href="#") Button
                                              a.button(class="hollow", href="#") Hollow Button
                                              a.button(class="hollow arrow", href="#") Hollow Button