extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "Footer"

block content

  h1!= pageTitle
  footer.theme-default
    // =============================================================================================
    // ███████  ██████   ██████  ████████ ███████ ██████      ███████  ██████   ██████ ██  █████  ██
    // ██      ██    ██ ██    ██    ██    ██      ██   ██     ██      ██    ██ ██      ██ ██   ██ ██
    // █████   ██    ██ ██    ██    ██    █████   ██████      ███████ ██    ██ ██      ██ ███████ ██
    // ██      ██    ██ ██    ██    ██    ██      ██   ██          ██ ██    ██ ██      ██ ██   ██ ██
    // ██       ██████   ██████     ██    ███████ ██   ██     ███████  ██████   ██████ ██ ██   ██ ███████
    // =============================================================================================
    .footer-primary
      .grid-container
        .grid-x.grid-padding-x.align-middle.align-justify
          .small-12.medium-shrink.cell
            .button-group.m0.flex-wrap
              a.button.clear.p-half(href="#")
                h5.m0
                  i.logo-linkedin
              a.button.clear.p-half(href="#")
                h5.m0
                  i.logo-twitter-bird
              a.button.clear.p-half(href="#")
                h5.m0
                  i.logo-facebook
              a.button.clear.p-half(href="#")
                h5.m0
                  i.rss-feed-solid

          .small-12.medium-shrink.cell.small
            ul.menu.vertical.medium-horizontal.large-align-right.flex-wrap.pos-inherit
              li
                a.small.pb0.px0.medium-px-half.medium-py1(href="#") Sitemap

              li
                a.small.pb0.px0.medium-px-half.medium-py1(href="#") Legal

              li
                a.small.pb0.px0.medium-px-half.medium-py1(href="#") Privacy Policy

              li
                a.small.pb0.px0.medium-px-half.medium-py1(href="#") Cookie Policy

              li
                p.small.pt2.medium-m0.medium-py1 &copy; <script>document.write(new Date().getFullYear())</script> Cognizant, all rights reserved

    // =============================================================================================
    // ███████  ██████   ██████  ████████ ███████ ██████
    // ██      ██    ██ ██    ██    ██    ██      ██   ██
    // █████   ██    ██ ██    ██    ██    █████   ██████
    // ██      ██    ██ ██    ██    ██    ██      ██   ██
    // ██       ██████   ██████     ██    ███████ ██   ██
    // =============================================================================================
    .footer-site-map
      .grid-container
        .grid-x.grid-padding-x.pt2(data-attribute="whiteFooterTag")
          .small-12.medium-9.cell(data-attr ibute="whiteFooterMenuOneTag")
            //- ██ ███    ██ ██████  ██    ██ ███████ ████████ ██████  ██ ███████ ███████
            //- ██ ████   ██ ██   ██ ██    ██ ██         ██    ██   ██ ██ ██      ██
            //- ██ ██ ██  ██ ██   ██ ██    ██ ███████    ██    ██████  ██ █████   ███████
            //- ██ ██  ██ ██ ██   ██ ██    ██      ██    ██    ██   ██ ██ ██           ██
            //- ██ ██   ████ ██████   ██████  ███████    ██    ██   ██ ██ ███████ ███████
            .grid-x.grid-padding-x
              .cell
                h6 INDUSTRIES
            .grid-x.grid-padding-x.small-up-1.medium-up-3
              .cell
                ul.no-bullet.small
                  li
                    p.mb0(title="")
                      strong
                  li
                    a(href="#", target="_blank") Automotive
                  li
                    a(href="#", target="_blank") Banking
                  li
                    a(href="#", target="_blank") Capital Markets
                  li
                    a(href="#") Communications, Media & Technology
                  li
                    a(href="#") Consumer Goods
                  li
                    a(href="#") Education
              .cell
                ul.no-bullet.small
                  li
                    p.mb0(title="")
                      strong
                  li
                    a(href="#") Healthcare
                  li
                    a(href="#") Information Services
                  li
                    a(href="#") Insurance
                  li
                    a(href="#") Life Sciences
                  li
                    a(href="#") Manufacturing
              .cell
                ul.no-bullet.small
                  li
                    p.mb0(title="")
                      strong
                  li
                    a(href="#") Oil & Gas
                  li
                    a(href="#") Retail
                  li
                    a(href="#") Transportation &amp; Logistics
                  li
                    a(href="#") Travel &amp; Hospitality
                  li
                    a(href="#") Utilities
            //- ███████ ███████ ██████  ██    ██ ██  ██████ ███████ ███████
            //- ██      ██      ██   ██ ██    ██ ██ ██      ██      ██
            //- ███████ █████   ██████  ██    ██ ██ ██      █████   ███████
            //-     ██ ██      ██   ██  ██  ██  ██ ██      ██           ██
            //- ███████ ███████ ██   ██   ████   ██  ██████ ███████ ███████
            .grid-x.grid-padding-xtext-center
              .cell
                h6 SERVICES
            .grid-x.grid-padding-x.small-up-1.medium-up-3
              .cell
                ul.no-bullet.small
                  li
                    a(href="#")
                      strong Digital Business & Technology
                  li
                    a(href="#") Application Services & Modernization
                  li
                    a(href="#") Artificial Intelligence
                  li
                    a(href="#") Cloud Enablement
                  li
                    a(href="#") Cognizant Infrastructure Services
                  li
                    a(href="#") Cognizant Security
                  li
                    a(href="#") Core Modernization
              .cell
                ul.no-bullet.small
                  li
                    a(href="#")  
                  li
                    a(href="#") Digital Experience
                  li
                    a(href="#") Digital Strategy
                  li
                    a(href="#") Enterprise Application Services
                  li
                    a(href="#") Internet of Things
                  li
                    a(href="#") Quality Engineering & Assurance
                  li
                    a(href="#") Software Product Engineering
              .cell
                ul.no-bullet.small
                  li
                    a(href="#")
                      strong Digital Business Operations
                  li
                    a(href="#") Business Process Services
                  li
                    a(href="#") Enterprise Services
                  li
                    a(href="#") Industry & Platform Solutions
                  li
                    a(href="#") Intelligent Process Automation
            .grid-x.grid-padding-xtext-center
              .cell
                a(href="#")
                  h6 COGNIZANT CONSULTING
            .grid-x.grid-padding-x.small-up-1.medium-up-3
            .grid-x.grid-padding-xtext-center
              .cell
                h6 LATEST THINKING
            .grid-x.grid-padding-x.small-up-1.medium-up-3
              .cell
                ul.no-bullet.small
                  li
                    p.small.mb0(title="")
                      strong Our Media &amp; Publications
                  li
                    a(href="#") All Latest Thinking
                  li
                    a(href="#") Browse Case Studies
                  li
                    a(href="#", target="_blank") Cognizant Podcasts
                  li
                    a(href="#") Cognizanti Journal
                  li
                    a(href="#", target="_blank")  Digitally Cognizant Blog
                  li
                    a(href="#") Infographics
                  li
                    a(href="#") Perspectives
              .cell
                ul.no-bullet.small
                  li
                    p.small.mb0(title="")
                      strong Key Themes
                  li
                    a(href="#") Code Halos
                  li
                    a(href="#") Digital Maturity Research
                  li
                    a(href="#") When Machines Do Everything
                  li
                    a(href="#") World Economic Forum 2018&mdash;Davos
              .cell
                ul.no-bullet.small
                  li
                    a(href="#")
                      strong Center for the Future of Work
                  li
                    a(href="#", target="_blank") 21 Jobs of the Future
                  li
                    a(href="#") Digital Workforce of the Future
                  li
                    a(href="#") Explore the Future of Work
                  li
                    a(href="#") Jobs of the Future Index
                  li
                    a(href="#") Our Post-COVID Future
                  li
                    a(href="#") The Work Ahead
          .small-12.medium-3.cell(data-attribute="whiteFooterMenuTwoTag")
            a(href="#")
              h6 ABOUT COGNIZANT
            ul.no-bullet.small
              li
                a(href="#") 2020 in Focus
              li
                a(href="#") Be.Cognizant
              li
                a(href="#") Board of Directors
              li
                a(href="#") Client Briefing Program
              li
                a(href="#") Cognizant Events
              li
                a(href="#") Contact Us
              li
                a(href="#") Corporate Governance
              li
                a(href="#") Corporate Integrity
              li
                a(href="#") Culture &amp; Values
              li
                a(href="#") Diversity & Inclusion
              li
                a(href="#") ESG
              li
                a(href="#") Leadership Team
              li
                a(href="#") News &amp; Press Releases
              li
                a(href="#") Partnerships
              li
                a(href="#") Public Policy
              li
                a(href="#") Sponsorships
              li
                a(href="#") Talent Worldwide
              li
                a(href="#") Women Empowered
            a(href="#")
              h6 GLOSSARY
            h6 INFORMATION FOR SUPPLIERS
            ul.no-bullet.small
              li
                a(href="#") Procure-to-Pay
            .cell
              .hex-link
                //- #teconsent(consent="0,1,2")
                  //- script(src="//consent.truste.com/notice?domain=cognizant.com&c=teconsent&js=bb&noticeType=bb&cookieLink=https://www.cognizant.com/cookiepolicy", id="truste_0.8992182165621561")
                  //- a#icon-id043853575194498373(tabindex="0", role="button", lang="en")
                    img(src="https://consent.trustarc.com/get?name=trustarc_cookiepreferences.png", alt="Cookie Preference", style="border: none; cursor: pointer;")