extend __LAYOUT-TEMPLATE.pug
block vars
    - var pageTitle = "Header banners- IMAGE"

block content

    h1!= pageTitle

    h3 Header-IMAGE-1a
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle(style="min-height:400px")
            .cell.text-white
                h2.text-bold The Future of Wearables is now
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.small.button(href="#") Read More
                br
                a.small.button.m0(href="#") Download PDF

    hr
    h3 Header-IMAGE-1b
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle(style="min-height:400px")
            .cell.text-white
                h2 The Future of Wearables is now
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.small.button(href="#") Read More
                br
                a.small.button.m0(href="#") Download PDF

    hr
    h3 Header-IMAGE-1c
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle.text-center(style="min-height:400px")
            .cell.text-white
                h2.text-bold The Future of Wearables is now
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.small.button(href="#") Read More
                br
                a.small.button.m0(href="#") Download PDF

    hr
    h3 Header-IMAGE-1d
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle.text-center(style="min-height:400px")
            .cell.text-white
                h2 The Future of Wearables is now
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.small.button(href="#") Read More
                br
                a.small.button.m0(href="#") Download PDF

    hr
    h3 Header-IMAGE-2a
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle(style="min-height:400px;")
            .cell.text-white
                h2.text-bold The Future of Wearables is now
                p.m0 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    hr
    h3 Header-IMAGE-2b
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle(style="min-height:400px;")
            .cell.text-white
                h2 The Future of Wearables is now
                p.m0 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    hr
    h3 Header-IMAGE-2c
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle.text-center(style="min-height:400px;")
            .cell.text-white
                h2.text-bold The Future of Wearables is now
                p.m0 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    hr
    h3 Header-IMAGE-2d
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle.text-center(style="min-height:400px;")
            .cell.text-white
                h2 The Future of Wearables is now
                p.m0 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    hr
    h3 Header-IMAGE-3a
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle(style="min-height:400px;")
            .cell.text-white
                h2.text-bold.m0 The Future of Wearables is now

    hr
    h3 Header-IMAGE-3b
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle(style="min-height: 400px;")
            .cell.text-white
                h2.m0 The Future of Wearables is now

    hr
    h3 Header-IMAGE-3c
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle.text-center(style="min-height:400px;")
            .cell.text-white
                h2.text-bold.m0 The Future of Wearables is now

    hr
    h3 Header-IMAGE-3d
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle.text-center(style="min-height:400px;")
            .cell.text-white
                h2.m0 The Future of Wearables is now

    hr
    h3 Header-IMAGE-4 (Right Block)
    .py2(style="background: url('https://source.unsplash.com/R3pUGn5YiTg') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle.align-right(style="min-height:400px")
            .small-12.medium-5.cell.text-white
                h4.text-normal The Future of Wearables is now
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.small.button(href="#") Read More
                br
                a.small.button.m0(href="#") Download PDF

    hr
    h3 Header-IMAGE-5
    .py1.medium-py5(style="background: linear-gradient(90deg, rgba(0,0,0,.6), rgba(0,0,0,.6)), url('https://unsplash.it/800/800?image=1033') no-repeat; background-size: cover; background-position: center;")
        .grid-x.grid-padding-x.align-middle
            .cell(style="min-height:400px")
                .grid-x.grid-padding-x.mb3
                    .cell.text-white
                        p.text-bold.text-blue direct from davos:
                        h2.text-bold A Dialogue on ‘Digital’
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        a.button.hollow.bd0.m0.text-white
                            i.video-camera.text-blue
                            | Get the download from CEO Francisco D'Souza
                        br
                        a.button.hollow.bd0.m0.text-white
                            i.video-camera.text-blue
                            | See carnegie mellon next-gen digital demos

                .grid-x.grid-padding-x
                    .cell.text-white
                        h4 Being big doesn't mean we're not nimble
                        hr.gradient.my1
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


