doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Cognizant | COMPONENT PROTOTYPES
    link(rel='stylesheet', href='css/app.css')

    // ==============================  FAVICONS  ==============================
    link(rel="apple-touch-icon", sizes="180x180", href="./favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="194x194", href="./favicons/favicon-194x194.png")
    link(rel="icon", type="image/png", sizes="192x192", href="./favicons/android-chrome-192x192.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./favicons/favicon-16x16.png")
    link(rel="manifest", href="./favicons/site.webmanifest")
    link(rel="mask-icon", href="./favicons/safari-pinned-tab.svg", color="#0033a0")
    link(rel="shortcut icon", href="./favicons/favicon.ico")
    meta(name="msapplication-TileColor", content="#0033a0")
    meta(name="msapplication-TileImage", content="./favicons/mstile-144x144.png")
    meta(name="msapplication-config", content="./favicons/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")


  body.p2
    .grid-container
      .grid-x.grid-padding-x
      .cell
        //- label
          input(type="checkbox", name="pjax")
          | pjax

        h1 Component prototypes 2022
        hr
        h2
          a(href="typography.html") Typography, Links, Buttons and Colors
        h2
          a(href="kitchen-sink.html") Kitchen Sink
        hr
        h2
          a(href="industries-revamp.html") Industries revamp
        h2
          a(href="eyebrows.html") Eyebrows
        hr
        h2 Global Components
        ul
          li
            a(href="demo.html") Demo
          li
            a(href="demo1.html") Demo 1
          li
            a(href="demo2.html") Demo 2
          li
            a(href="demo3.html") Demo 3
          li
            a(href="navigation2021.html") Navigation 2021
          li
            a(href="spacing.html") Spacing
          li
            a(href="accordion.html") Accordion
          li
            a(href="aspect-ratio.html") Aspect Ratio
          li
            a(href="block-grid.html") Block Grid
          li
            a(href="blog.html") Blog
          li
            a(href="box-module.html") Box Module
          li
            a(href="case-study.html") Case Study
          li
            a(href="callout.html") Callout
          li
            a(href="captcha.html") Captcha
          li
            a(href="carousel.html") Carousel
          //- li
            a(href="dual-sliders.html") Dual Sliders
          li
            a(href="file-download.html") File Download
          li
            a(href="forms.html") Forms
          //- li
            a(href="footer.html") Footer
          li
            a(href="grid.html") Grid
          li
            a(href="grid-icon-type.html") Grid Icon Type
          li
            a(href="grid-line-arrow.html") Grid Line Arrow
          li
            a(href="header-banners.html") Header Banners
          //- li
            a(href="header-banners-lockups.html") Header Banners, logo lockups
          //- li
            a(href="header-banners-serviceslps.html") Header Banners, services landing pages
          //- li
            a(href="header-image.html") Header IMAGE
          //- li
            a(href="header-text.html") Header TEXT
          li
            a(href="maps.html") Maps
          li
            a(href="modal.html") Modal
          //- li
            a(href="navigation.html") Navigation
          //- li
            a(href="navigation-megamenu.html") Navigation, megamenu test
          //- li
            a(href="nav-sub-bar.html") NAV Sub Bar
          li
            a(href="news-events.html") News Events
          //- li
            a(href="pardot.html") Pardot
          li
            a(href="partners.html") Partners
          li
            a(href="podcasts.html") Podcasts
          li
            a(href="quotes.html") Quotes
          //- li
            a(href="section-color-bar.html") Section Color Bar
          li
            a(href="search-alert.html") Search Alert
          li
            a(href="tables.html") Tables
          li
            a(href="tabs.html") Tabs
          li
            a(href="team.html") Team
          li
            a(href="tooltip.html") Tooltip
          li
            a(href="video.html") Video
          //- li
            a(href="2019-q1-homepagecarousel.html") 2019 Q1 Homepage Carousel
          //- li
            a(href="digital-hub-map.html") Digital Hub Map
          //- li
            a(href="layered-type-replacement-options.html") Layered Type Replacement Options
          //- li
            a(href="../../serifs%20trial%20fonts/_build/index.html") Serif font trials
          //- li
            a(href="gic-templates.html") GIC templates


    script(src='js/min/app-min.js')