extend __LAYOUT-TEMPLATE.pug
include ../../_COG-Framework-2021/pug/_navigation.pug
include ../../_COG-Framework-2021/pug/_footer.pug
block vars
  - var pageTitle = "Navigation"

block content

  +bannerCovid19(class="theme-primary")
  +subnav(class="theme-primary")
  +primaryNav(class="theme-primary")
  +sectionNav(class="theme-primary")

  img.object-fit-cover(src="https://via.placeholder.com/1600x500?text=Header+banner")
  +navBarInPage(class="theme-primary")

  .h100vh

  +footer(class="theme-primary")
  //- include footer2021.pug