extend __LAYOUT-TEMPLATE.pug
include ../../_COG-Framework-2021/pug/_navigation.pug
include ../../_COG-Framework-2021/pug/_footer.pug
block vars
  - var pageTitle = "Navigation"

block content

  //- +bannerCovid19(class="theme-cfow")
  +subnav(class="theme-cfow")
  +primaryNav(class="theme-cfow")
  +sectionNav(class="theme-cfow")

  img.object-fit-cover(src="https://via.placeholder.com/1600x500?text=Header+banner+1600x500")
  +navBarInPage(class="theme-cfow")

  .h30vh#link1(data-magellan-target="link1")
  .h30vh#link2(data-magellan-target="link2")
  .h30vh#link3(data-magellan-target="link3")
  .h30vh#link4(data-magellan-target="link4")
  .h30vh#link5(data-magellan-target="link5")
  .h30vh#link6(data-magellan-target="link6")
  .h30vh#link7(data-magellan-target="link7")

  +footer(class="theme-cfow")