extend __LAYOUT-TEMPLATE.pug
block vars
    - var pageTitle = "News"

block content

    h1!= pageTitle
    .grid-x.grid-padding-x.cell.text-center
        h3 DIGITAL BUSINESS NEWS
    .grid-x.grid-padding-x.small-up-1.medium-up-3
        .cell
            strong.text-gray-light.small.text-caps December 16, 2016 
            h5
                a(href="#") Lorem ipsum dolor sit amet

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .cell
            strong.text-gray-light.small.text-caps December 16, 2016 
            h5
                a(href="#") Lorem ipsum dolor sit amet

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .cell
            strong.text-gray-light.small.text-caps December 16, 2016 
            h5
                a(href="#") Lorem ipsum dolor sit amet

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    hr
    h3 Events
    .grid-x.grid-padding-x.cell.text-center
        h3 DIGITAL BUSINESS EVENTS
    .grid-x.grid-padding-x.small-up-1.medium-up-3
        .cell
            strong.text-gray-light.small.text-caps December 16–25, 2016
                br
                | Hyatt Regency Hotel, Sydney Australia
            h5
                a(href="#") Lorem ipsum dolor sit amet
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .cell
            strong.text-gray-light.small.text-caps December 16–25, 2016
                br
                | Hyatt Regency Hotel, Sydney Australia
            h5
                a(href="#") Lorem ipsum dolor sit amet ipsum dolor sit amet
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .cell
            strong.text-gray-light.small.text-caps December 16–25, 2016
                br
                | Hyatt Regency Hotel, Sydney Australia
            h5
                a(href="#") Lorem ipsum dolor sit amet
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.2
