extend __LAYOUT-TEMPLATE.pug
block vars
    - var pageTitle = "Partners"

block content

    h1!= pageTitle

    .grid-container
        .grid-x.grid-padding-x
            .cell
                h3
                    strong Our Partners

                h5 Lorem Ipsum Dolor Sit Amet, Consectetur

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus iste eaque porro maxime corporis numquam, illum quos, laudantium quae ut cumque vel aperiam debitis voluptatum quia totam nisi ullam!

    .grid-container
        .grid-x.grid-padding-x.small-up-2.medium-up-3.large-up-6.align-middle.text-center
            .cell.cell-block
                img(src="http://placehold.it/500x400")
            .cell.cell-block
                img(src="http://placehold.it/300x150")
            .cell.cell-block
                img(src="http://placehold.it/200x100")
            .cell.cell-block
                img(src="http://placehold.it/400x300")
            .cell.cell-block
                img(src="http://placehold.it/100x200")
            .cell.cell-block
                img(src="http://placehold.it/500x400")
            .cell.cell-block
                img(src="http://placehold.it/500x400")
            .cell.cell-block
                img(src="http://placehold.it/500x400")
            .cell.cell-block
                img(src="http://placehold.it/500x400")
            .cell.cell-block
                img(src="http://placehold.it/500x400")
            .cell.cell-block
                img(src="http://placehold.it/500x400")
            .cell.cell-block
                img(src="http://placehold.it/500x400")



    hr
    .grid-container
        .grid-x.grid-padding-x
            .cell
                h3
                    strong Our Partners, Expanded

                h5 Lorem Ipsum Dolor Sit Amet, Consectetur

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus iste eaque porro maxime corporis numquam, illum quos, laudantium quae ut cumque vel aperiam debitis voluptatum quia totam nisi ullam!

    .grid-container
        .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
            .cell.flex-container
                .card
                    .card-divider.partner-logo.align-center-middle
                        img(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/aws-logo.svg")
                    .card-section.pt0
                        a(href="#") AWS – Amazon Web Services
                        p.small Cognizant is a Premier Consulting Partner for AWS, an AWS Channel Reseller, an AWS Managed Services Partner, an AWS Migration Acceleration Program (MAP) Partner, and an AWS Marketplace Reseller. In addition, Cognizant has accredited status with AWS for healthcare and life sciences, financial services, migration competency, big data, Workspaces and SharePoint.
                    //- .card-divider.pt0.small
                        a.arrow.block(href="#") Optional link in this area
                        a.arrow.block(href="#") Optional link in this area
                        a.arrow.block(href="#") Optional link in this area
            .cell.flex-container
                .card
                    .card-divider.partner-logo.align-center-middle
                        img(src="https://www.cognizant.com/content/dam/cognizant_foundation/images/partners/strategic-partner-logo-google-cloud.svg")
                    .card-section.pt0
                        a(href="#") Microsoft
                        p.small Together, Cognizant and Microsoft are accelerating digital transformation for our customers. Partners for 15 years, we have a mutual focus on putting the customer first. We are helping our customers rethink, reinvent and rewire their organizations to unleash new potential with a mobile-first, cloud-first approach.
                    //- .card-divider.pt0.small
                        a.arrow.block(href="#") Optional link in this area
                        a.arrow.block(href="#") Optional link in this area
                        a.arrow.block(href="#") Optional link in this area
            .cell.flex-container
                .card
                    .card-divider.partner-logo.align-center-middle
                        img(src="https://www.cognizant.com/content/dam/cognizant_foundation/images/partners/strategic-partner-logo-salesforce.svg")
                    .card-section.pt0
                        a(href="#") Oracle
                        p.small Cognizant and Oracle have been collaborating for over 18 years to provide customers with compelling solutions. This strategic alliance, Oracle’s extensive list of innovative technologies and Cognizant’s impressive industry-product-system integrations expertise has helped our customers streamline business processes, improve decision-making and fast-track business transformations.
                    //- .card-divider.pt0.small
                        a.arrow.block(href="#") Optional link in this area
                        a.arrow.block(href="#") Optional link in this area
                        a.arrow.block(href="#") Optional link in this area


    hr#accolades
    h1 Accolades section XY Grid
    .grid-container
        .grid-x.grid-margin-x.small-up-1.medium-up-2
            .cell.cell-block.small-bd1.p1.flex-container.align-center-middle
                img(src="https://www.Cognizant.com/content/dam/cognizant_foundation/images/partners/aws-consulting-partner-competency.svg")
            .cell.cell-block.small-bd1.p1.flex-container.align-center-middle
                img(src="https://www.Cognizant.com/content/dam/cognizant_foundation/images/partners/aws-consulting-partner-programs.svg")
            .cell.cell-block.small-bd1.p1.flex-container.align-center-middle
                img(src="https://uat.cognizant.com/content/dam/cognizant_foundation/images/partners/adobe-accolade-2019-emea.jpg")
            .cell.cell-block.small-bd1.p1.flex-container.align-center-middle
                img(src="https://uat.cognizant.com/content/dam/cognizant_foundation/images/partners/adobe-accolade-2019-americas.jpg")
            .cell.cell-block.small-bd1.p1.flex-container.align-center-middle
                img(src="https://uat.cognizant.com/content/dam/cognizant_foundation/images/partners/adobe-solution-partner-badge.jpg")
            .cell.cell-block.small-bd1.p1
                h4 Services Partner of the Year
                p 2015 and 2018
            .cell.cell-block.small-bd1.p1
                p ITSP Data Center
                h4 Partner of the Year
                p 2018
            .cell.cell-block.small-bd1.p1
                p Cisco
                h4 USA &amp; World Premier Partner
            .cell.cell-block.small-bd1.p1
                p ITSP Security
                h4 Partner of the Year
                p 2017
            .cell.cell-block.small-bd1.p1.flex-container.align-center-middle
                img(src="https://www.Cognizant.com/content/dam/cognizant_foundation/images/partners/aws-consulting-partner-competency.svg")
            .cell.cell-block.small-bd1.p1.flex-container.align-center-middle
                img(src="https://uat.cognizant.com/content/dam/cognizant_foundation/images/partners/adobe-solution-partner-badge.jpg")
            .cell.cell-block.small-bd1.p1
                h4 Services Partner of the Year Services Partner of the Year Services Partner of the Year Services Partner of the Year Services Partner of the Year Services Partner of the Year Services Partner of the Year Services Partner of the Year Services Partner of the Year
                p 2015 and 2018
            .cell.cell-block.small-bd1.p1.flex-container.align-center-middle
                img(src="https://uat.cognizant.com/content/dam/cognizant_foundation/images/partners/adobe-solution-partner-badge.jpg" style="height: 300px;")
            .cell.cell-block.small-bd1.p1
                h4 Services Partner
                p 2015 and 2018



    //- -----  End of PARTNERS  ---------------------------------------------
