extend __LAYOUT-TEMPLATE.pug
block vars
    - var pageTitle = "2019 Q1 Home page carousel"

block content

    h1!= pageTitle
    .slick-carousel.inside-dots.inside-arrows.white-dots.white-arrows.square-dots.text-white.m0(data-slick='{"fade": false, "autoplay": true, "dots": true, "arrows": true, "slidesToShow": 1, "adaptiveHeight": true}')

        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-aiAnalytics.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-blue-light(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-green.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-green.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-green.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-coreModernization.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-green(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-softvision.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-blue-light(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-industryPlatformSolutions.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-orange-dark(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-intelligentProcessAutomation.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-orange-dark(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-interactive.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-blue-light(href="#") LEARN MORE

    hr
    h3 2019 Q1 Homepage Carousel - FADING
    .slick-carousel.inside-dots.inside-arrows.white-dots.white-arrows.square-dots.text-white.mb6.bg-blue(data-slick='{"autoplaySpeed": 3000, "speed": 1000, "fade": true, "autoplay": true, "dots": true, "arrows": true, "slidesToShow": 1, "adaptiveHeight": true}')

        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-aiAnalytics.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-blue-light(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-green.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-green.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-green.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-coreModernization.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-green(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-softvision.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-blue-light(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-industryPlatformSolutions.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-orange-dark(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-orange.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-intelligentProcessAutomation.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-orange-dark(href="#") LEARN MORE
        //- ==========  SLIDE  ==========
        .slide.py2.medium-py3.text-center.small-bg-size-cover(data-interchange="[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, small],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, medium],[./images/2019-q1-homePageCarousel/hp-bg-2019-q1-blue.jpg, large]")
            .grid-x.grid-padding-x.align-middle.expanded
                .small-12.cell.p0
                    img.pb2(src="./images/2019-q1-homePageCarousel/hp-headline-2019-q1-interactive.svg")
                .small-12.cell.p0
                    a.button.arrow.small.m0.bg-blue-light(href="#") LEARN MORE
