extend __LAYOUT-TEMPLATE.pug
block vars
    - var pageTitle = "Callout"

block content

    h1!= pageTitle

    h3 Default callout
    .grid-container
        .grid-x.grid-x-padding
            .cell
                .callout
                    h5 This is a callout.
                    p It has an easy to override visual style, and is appropriately subdued.
                    a(href='#0') It's dangerous to go alone, take this.
                .callout.primary
                    h5 This is a primary callout.
                    p It has an easy to override visual style, and is appropriately subdued.
                    a(href='#0') It's dangerous to go alone, take this.
                .callout.secondary
                    h5 This is a secondary callout
                    p It has an easy to override visual style, and is appropriately subdued.
                    a(href='#0') It's dangerous to go alone, take this.
                .callout.success
                    h5 This is a success callout
                    p It has an easy to override visual style, and is appropriately subdued.
                    a(href='#0') It's dangerous to go alone, take this.
                .callout.warning
                    h5 This is a warning callout
                    p It has an easy to override visual style, and is appropriately subdued.
                    a(href='#0') It's dangerous to go alone, take this.
                .callout.alert
                    h5 This is an alert callout
                    p It has an easy to override visual style, and is appropriately subdued.
                    a(href='#0') It's dangerous to go alone, take this.

    h3 Callout-1-Column
    .py1.flex-container.align-middle.bg-blue.text-white(style="min-height: 400px")
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .cell.text-center
                    h3.small-m0 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    hr
    h3 Callout-2-Column
    .py1.flex-container.align-middle.bg-black.text-white(style="min-height: 400px")
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .small-11.medium-5.cell.text-center.medium-text-right
                    h1.text-bold.text-blue-light.small-m0 70%+
                .small-11.medium-5.cell
                    p.small-m0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!

    hr
    h3 Callout-2-Column-v2
    .py1.flex-container.align-middle.bg-blue.text-white(style="min-height: 400px")
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .small-11.medium-5.cell.text-center.medium-text-left
                    p.text-bold.text-caps.small.small-m0 Vivamus Hendrerit Arcu Sed Erat
                    h4.small-m0 Quisque Eget Odio Ac Lectus
                .small-11.medium-5.cell
                    p.small-m0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!

    hr
    h3 Callout-2-Column-v2-with-buttons
    .py1.flex-container.align-middle.bg-blue.text-white(style="min-height: 400px")
        .grid-container
            .grid-x.grid-padding-x
                .small-11.medium-5.cell.text-center.medium-text-left
                    p.text-bold.text-caps.small.small-m0 healthcare
                    h4.small-m0 Designing patient-centric health services and technologies
                .small-11.medium-5.cell
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                    a.button.small.arrow.small-mb0(href="#") Read more
                    a.button.small.arrow.small-mb0(href="#") Read more

    hr
    h3 Callout-2-Column-v2-with-header-buttons
    .py1.bg-blue.text-white(style="min-height: 400px")
        .py1.text-center.text-caps
            h3 industry spotlight
        .grid-container
            .grid-x.grid-padding-x
                .small-11.medium-5.cell.text-center.medium-text-left
                    p.text-bold.text-caps.small.small-m0 healthcare
                    h4.small-m0 Designing patient-centric health services and technologies
                .small-11.medium-5.cell
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                    a.button.small.arrow(href="#") Read more
                    a.button.small.arrow(href="#") Read more

    hr
    h3 Callout-1/3-2/3-Column-TEXT
    .py1.flex-container.align-middle.bg-blue.text-white(style="min-height: 400px")
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .small-11.medium-4.cell.text-center.medium-text-left
                    h4.text-caps.small-m0 Quisque Eget Odio Ac Lectus
                .small-11.medium-6.cell
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                    a.button.small.arrow(href="#") Read more

    hr
    h3 Callout-1/3-2/3-Column-IMAGE
    .py1.flex-container.align-middle.bg-blue.text-white(style="min-height: 400px")
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .small-11.medium-4.cell.text-center
                    img.small-mb1.medium-mb0(src="https://unsplash.it/300/350?image=901")
                .small-11.medium-6.cell
                    h4.text-caps Nulla At Nulla Justo, Eget
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                    a.button.small.arrow.small-mb0(href="#") Read more

    hr
    h3 2 Column alternating side to side
    .align-middle.py4.bg-blue.text-white
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .cell.large-auto.text-caps
                    h3 Financial Services
                    p.medium-m0 Investment Banking, Asset Management, Lending, Retail Banking

                .cell.large-auto
                    ul.small-mb0
                        li
                            span.strong 11,500
                            | Associates Worldwide
                        li
                            span.strong $1.3 Trillion
                            | Assets Services – 950 Funds
                        li.small-m0
                            span.strong 33%
                            | of All US Properties

    .align-middle.bg-blue-dark.text-white.py4
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .cell.large-auto
                    ul.small-mb0
                        li
                            span.strong 7,000
                            | Associates in
                            span.strong 10
                            | Worldwide Centers
                        li
                            span.strong 30 million
                            | customer claims processes annually
                        li
                            span.strong 7x Conversion gains,
                            | with
                            span.strong $900 million
                            | leads generated
                        li
                            span.strong 99% Service levels
                            | upheld for all clients and processes
                        li.small-m0
                            span.strong 30% Reduction
                            | in call volume due to self-services

                .cell.large-auto.text-caps
                    h3 Insurance Services
                    p.medium-m0 Life & Annuities, Property & Casualty, Retirement

    //- .align-middle.py4.bg-blue.text-white
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .cell.large-auto.text-caps
                    h3 Health Care
                    p.medium-m0 Payer Services, Provider Services

                .cell.large-auto
                    ul.small-mb0
                        li
                            span.strong 9,500
                            | associates with
                            span.strong 800
                            | clinicians
                        li
                            span.strong 2 million
                            | enrollments processed annually
                        li.small-m0
                            span.strong 60 million
                            | customer claims processed annually

    //- .align-middle.bg-blue-dark.text-white.py4
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .cell.large-auto
                    ul.small-mb0
                        li Clients include
                            span.strong 9 of the top 10
                            | biotech companies
                        li Clients include
                            span.strong 28 of the top 30
                            | pharma companies
                        li
                            span.strong 4,000
                            | Life Sciences Associates, including
                            span.strong 1,500
                            | pharmacists
                        li
                            span.strong 1 Million
                            |  PV cases processed annually
                        li.small-m0
                            span.strong 2,000
                            | CDM studies and
                            span.strong 450+
                            | bio stats studies completed

                .cell.large-auto.text-caps
                    h3 Life Sciences
                    p.medium-m0 Pharmaceuticals, Biotechnology, Medical Devices

    //- .align-middle.py4.bg-blue.text-white
        .grid-container
            .grid-x.grid-padding-x.align-middle
                .cell.large-auto.text-caps
                    h3 Communications and Technology
                    p.medium-m0 Travel & Hospitality, Media and Telecommunications, Technology, Retail

                .cell.large-auto
                    ul.small-mb0
                        li
                            span.strong 120,000
                            | digital marketing campaigns supported
                        li
                            span.strong $400 million
                            | worth of digital marketing handled per year
                        li.small-m0
                            span.strong 1.5 million
                            | business brought online with Business Processes Services, with
                            span.strong 2 million
                            | support interactions managed


