extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "Case Study"

block content

  h1!= pageTitle

  mixin caseStudy
    .cell.auto.flex-container
      a.anim-icon.flex-container.flex-child-auto(href="#")
        .card.gradient-overlay-blue-full.bd-blue-4.box-shadow-hover(style="background: url(images/Case-Study-Images-thumbnails-assets/caseStudy-the-right-content-enhances-the-customer-experience-th.jpg) no-repeat; background-size: cover;")
          .mbn3.mt1.z1
            .label.text-caps
              img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-lifeSciences.svg" width="20" style="filter: invert(1);")
              | Manufacturing & Logistics
          .card-section.pt2.medium-pt5.mt5.text-white.z1
            h5.m0 Digital asset management is the driving force for agency and marketing efficiency
          .card-divider.bg-transparent.pt0.text-right.z1
            hr.mt0.mb1.opacity-50
            .grid-x.grid-padding-x.expanded.align-middle.collapse
              .cell.flex-container.align-right
                h5.anim-icon.text-green
                  i.arrow-solid-right.fw600
                  .anim-text View
  a.button.tiny.m2(href="index.html") BACK
  .grid-container
    .grid-x.grid-padding-x
      .cell
        h3 Case-Study-Labels
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-communications.svg" width="20" style="filter: invert(1);")
            | communications
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-consumerGoods.svg" width="20" style="filter: invert(1);")
            | consumer goods
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-education.svg" width="20" style="filter: invert(1);")
            | education
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/utilities.svg" width="20" style="filter: invert(1);")
            | energy & utilities
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-financialServices.svg" width="20" style="filter: invert(1);")
            | financial services
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-healthcare.svg" width="20" style="filter: invert(1);")
            | healthcare
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-hospitality.svg" width="20" style="filter: invert(1);")
            | hospitality
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-insurance.svg" width="20" style="filter: invert(1);")
            | insurance
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-lifeSciences.svg" width="20" style="filter: invert(1);")
            | life sciences
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-manufacturingLogistics.svg" width="20" style="filter: invert(1);")
            | Manufacturing & Logistics
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-productsResources.svg" width="20" style="filter: invert(1);")
            | products & resources
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-retail.svg" width="20" style="filter: invert(1);")
            | retail
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-technology.svg" width="20" style="filter: invert(1);")
            | technology
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-travel.svg" width="20" style="filter: invert(1);")
            | travel
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-transportation.svg" width="20" style="filter: invert(1);")
            | transportation and logistics
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-mediaPublishing.svg" width="20" style="filter: invert(1);")
            | media and Entertainment
        h6
          .label.text-caps
            img.mr-half(src="images/Case-Study-Icons/icon-caseStudy-informationServices.svg" width="20" style="filter: invert(1);")
            | information services

      .cell
        h3 Case-Study-Heading-Labels
        h6.text-black.text-caps Communications
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-communications.svg" width="40")
        h6.text-black.text-caps Consumer goods
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-consumerGoods.svg" width="40")
        h6.text-black.text-caps Education
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-education.svg" width="40")
        h6.text-black.text-caps Energy utilities
          img.opacity-30.ml-half(src="images/Case-Study-Icons/utilities.svg" width="40")
        h6.text-black.text-caps Financial services
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-financialServices.svg" width="40")
        h6.text-black.text-caps Healthcare
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-healthcare.svg" width="40")
        h6.text-black.text-caps Hospitality
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-hospitality.svg" width="40")
        h6.text-black.text-caps Insurance
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-insurance.svg" width="40")
        h6.text-black.text-caps Life sciences
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-lifeSciences.svg" width="40")
        h6.text-black.text-caps Manufacturing logistics
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-manufacturingLogistics.svg" width="40")
        h6.text-black.text-caps Products resources
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-productsResources.svg" width="40")
        h6.text-black.text-caps Retail
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-retail.svg" width="40")
        h6.text-black.text-caps Technology
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-technology.svg" width="40")
        h6.text-black.text-caps Travel
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-travel.svg" width="40")
        h6.text-black.text-caps Transportation and Logistics
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-transportation.svg" width="40")
        h6.text-black.text-caps Media and Entertainment
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-mediaPublishing.svg" width="40")
        h6.text-black.text-caps Information Services
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-informationServices.svg" width="40")



  hr
  h3 Case-Study-Tile (Light Background)

  //- 
  //- =============================================================================================
  //-  ██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██    ██     ████████ ██ ██      ███████
  //- ██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██  ██  ██         ██    ██ ██      ██
  //- ██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██   ████          ██    ██ ██      █████
  //- ██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██    ██           ██    ██ ██      ██
  //-  ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████     ██           ██    ██ ███████ ███████
  //- 
  //- =============================================================================================

  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
      +caseStudy
      +caseStudy
      +caseStudy



  //- -----  End of CASE STUDY TILE  ---------------------------------------------

  hr
  h3 Case-Study-Tile (Dark Background. Same construction, for reference only)


  //- =============================================================================================
  //- 
  //-     ██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██    ██     ████████ ██ ██      ███████
  //- ██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██  ██  ██         ██    ██ ██      ██
  //- ██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██   ████          ██    ██ ██      █████
  //- ██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██    ██           ██    ██ ██      ██
  //-     ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████     ██           ██    ██ ███████ ███████
  //- ██████   █████  ██████  ██   ██     ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
  //- ██   ██ ██   ██ ██   ██ ██  ██      ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
  //- ██   ██ ███████ ██████  █████       ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
  //- ██   ██ ██   ██ ██   ██ ██  ██      ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
  //- ██████  ██   ██ ██   ██ ██   ██     ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
  //- 
  //- =============================================================================================

  .bg-blue-dark.py4
    .grid-container
      .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3.align-center
        +caseStudy
        +caseStudy
        +caseStudy
      .text-center.my3
        a.button.large.arrow.m0(href="caseStudy-subPage.html") VIEW ALL CASE STUDIES
    //- -----  End of CASE STUDY TILE - DARK BACKGROUND  ---------------------------------------------

  hr
  h3 Case-Study-Detail (full page, unique URL)
  //- =============================================================================================
  //-  ██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██    ██
  //- ██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██  ██  ██
  //- ██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██   ████
  //- ██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██    ██
  //-  ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████     ██
  //- ███████ ██    ██ ██      ██          ██████   █████   ██████  ███████
  //- ██      ██    ██ ██      ██          ██   ██ ██   ██ ██       ██
  //- █████   ██    ██ ██      ██          ██████  ███████ ██   ███ █████
  //- ██      ██    ██ ██      ██          ██      ██   ██ ██    ██ ██
  //- ██       ██████  ███████ ███████     ██      ██   ██  ██████  ███████

  //- =============================================================================================

  //- ==============================  CASE STUDY HEADER  ==============================
  .grid-container
    .grid-x.grid-padding-x.text-center
      .cell.pt2
        h6.text-caps.text-black life sciences
          img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-lifeSciences.svg" width="40")
        h2 Focus on Patients, Not Just Prescriptions, to Improve Outcomes


  //- ==============================  CASE STUDY DETAIL  ==============================
  .grid-container.pt2
    .grid-x.grid-padding-x.medium-unstack
      //- ==========  LEFT COLUMN  ==========
      .cell.auto
        .button-group.m0.align-spaced
          a.button.white(href="#")
            h5.m0.text-green
              i.email
          a.button.white(href="#")
            h5.m0.text-green
              i.logo-twitter-bird
          a.button.white(href="#")
            h5.m0.text-green
              i.logo-facebook
          a.button.white(href="#")
            h5.m0.text-green
              i.logo-linkedin
          a.tiny.button.align-self-middle
            | Download Full Case Study 
            span.text-normal (PDF, 3mb)
            i.ml-half.fw600.download

        hr.mt1

        h5.text-caps.text-blue The Challenge:

        p The shift to patient experience and treatment outcomes in the healthcare industry means that pharmaceuticals companies must put a new focus on the person behind the diagnosis. With complex insurance rules, and an upcoming patent expiration on its  agship drug, a large global biopharmaceuticals company needed a strategy to engage patients more deeply – and keep them loyal.

        p This pharma company valued our deep expertise in specialty drugs marketing and our past successful engagements, and asked us to partner on a strategy and approach for this important initiative.

        hr

        h5.text-caps.text-blue.bold Our Approach:

        p We helped the pharma company craft a service strategy that focused on simplifying and streamlining treatment for the patient, and then delivered the underlying infrastructure. 

        p By coordinating care, we helped the company create a patient experience providing services focused on the human involved in the treatment by connecting the various involved parties from insurance to nurses to pharmacies to valuable information about patient care. 

        p A mobile app further empowers the patient to better manage treatment.

      //- ==========  RIGHT COLUMN  ==========
      .cell.auto
        img.w100.h100.object-fit-cover.object-position-right-top(src="images/Case-Study-Images-assets/caseStudy-focus-on-patients.jpg")


  //- ==============================  CASE STUDY RESULTS  ==============================
  .grid-container.bg-gray-light.medium-p1.large-p2
    .grid-x.grid-padding-x.medium-unstack

      //- ==========  LEFT COLUMN  ==========
      .cell.auto.mb3.medium-mb0
        h4.text-blue Support Past the Prescription Means Better Quality of Life

        p We helped the company create a program that would provides enrolled patients with an improved quality of life, fewer hospitalizations and lower overall healthcare costs. The company benefits from continued loyalty and adherence to treatment plans.


      //- ==========  RIGHT COLUMN  ==========
      .cell.auto
        h3.m0 $3,000 
        p savings per year per patient on cost of care.

        h3.m0 +26%
        p Number of days an average patient is covered by the company’s drug.

        h3.m0 26%
        p Of health professionals using the program to prescribe more drugs.

    .grid-x.grid-padding-x.text-center.my2
      .cell
        //- hr.green
        h6.text-caps Want to learn more? Explore this case study Further
        a.button.large.m0(href="#")
          | download full case STUDY
          i.download.fw600.ml-half


  .grid-container
    .grid-x.grid-padding-x.medium-unstack.py1.align-middle
      .cell.auto.medium-bd-r1.py1.medium-py0
        a.flex-container.align-middle(href="#")
          .bg-green.text-center.px-half.py2.mr1
            h5.m0
              i.arrow-left.text-white.fw600
          div
            p.text-normal.small.m0.text-gray-dark VIEW INDUSTRY
            | [Link back to referring industry goes here]
      .medium-3.cell.text-center.py1.medium-py0
        a.flex-container.align-middle.flex-dir-column(href="#")
          p.text-normal.small.m0.text-gray-dark VIEW
          | Link to referring service goes here
      .cell.auto.medium-text-right.medium-bd-l1.py1.medium-py0
        a.flex-container.align-middle(href="#")
          div
            p.text-normal.small.m0.text-gray-dark NEXT
            | [Link to next case study article goes here]
          .bg-green.text-center.px-half.py2.ml1
            h5.m0
              i.arrow-right.text-white.fw600

  .grid-container
    .grid-x.grid-padding-x
      .cell
        hr
        p.text-bold.mb-half.small.text-center SPREAD THE WORD
        .button-group.flex-container.align-center.align-middle
          .button.white(href="#")
            h3.m0.text-green
              i.email
          .button.white(href="#")
            h3.m0.text-green
              i.logo-twitter-bird
          .button.white(href="#")
            h3.m0.text-green
              i.logo-facebook
          .button.white(href="#")
            h3.m0.text-green
              i.logo-linkedin




  hr
  h3 Single Case-Study-Detail (Shown on parent landing page instead of tiles)
  //- =============================================================================================
  //- 
  //-  ██████  █████  ███████ ███████     ███████ ████████ ██    ██ ██████  ██    ██
  //- ██      ██   ██ ██      ██          ██         ██    ██    ██ ██   ██  ██  ██
  //- ██      ███████ ███████ █████       ███████    ██    ██    ██ ██   ██   ████
  //- ██      ██   ██      ██ ██               ██    ██    ██    ██ ██   ██    ██
  //-  ██████ ██   ██ ███████ ███████     ███████    ██     ██████  ██████     ██
  //- ███████ ██   ██ ██████   █████  ███    ██ ██████
  //- ██       ██ ██  ██   ██ ██   ██ ████   ██ ██   ██
  //- █████     ███   ██████  ███████ ██ ██  ██ ██   ██
  //- ██       ██ ██  ██      ██   ██ ██  ██ ██ ██   ██
  //- ███████ ██   ██ ██      ██   ██ ██   ████ ██████
  //- 
  //- =============================================================================================

  //- ==============================  CASE STUDY HEADER  ==============================
  .grid-container
    .grid-x.grid-padding-x
      .cell.bg-white.pt2
        .text-center
          h6.text-caps.text-black life sciences
            img.opacity-30.ml-half(src="images/Case-Study-Icons/icon-caseStudy-lifeSciences.svg" width="40")
          h2 Focus on Patients, Not Just Prescriptions, to Improve Outcomes

  .grid-container
    .grid-x.grid-padding-x
      .cell
        //- ==============================  CASE STUDY DETAIL  ==============================
        ul.accordion(data-accordion data-multi-expand="false" data-allow-all-closed="true")
          li.accordion-item.text-center(data-accordion-item)
            a.accordion-title.bg-white.p0(href='#' data-toggle="arrow-toggle") 
              .flex-container.align-center#expandControl(data-sticky-container)
                .sticky.text-blue-medium.bg-white.py1.w100.heading-lines.mt0(data-sticky data-top-anchor="expandControl" data-btm-anchor="expandContent:bottom" data-check-every="1") EXPAND
                  i.arrow-down.ml-half.fw600#arrow-toggle(data-toggler=".arrow-up")
              //- | Expand
              //- i.arrow-down.ml-half.fw600#arrow-toggle(data-toggler=".arrow-up")
            .accordion-content.bd0.text-left.px0#expandContent(data-tab-content)
              .grid-x.grid-padding-x.medium-unstack
                //- ==========  LEFT COLUMN  ==========
                .cell.auto
                  .button-group.m0.align-spaced
                    a.button.white(href="#")
                      h5.m0.text-green
                        i.email
                    a.button.white(href="#")
                      h5.m0.text-green
                        i.logo-twitter-bird
                    a.button.white(href="#")
                      h5.m0.text-green
                        i.logo-facebook
                    a.button.white(href="#")
                      h5.m0.text-green
                        i.logo-linkedin
                    a.tiny.button.align-self-middle
                      | Download Full Case Study 
                      span.text-normal (PDF, 3mb)
                      i.ml-half.fw600.download

                  hr.mt1

                  h5.text-caps.text-blue The Challenge:

                  p The shift to patient experience and treatment outcomes in the healthcare industry means that pharmaceuticals companies must put a new focus on the person behind the diagnosis. With complex insurance rules, and an upcoming patent expiration on its  agship drug, a large global biopharmaceuticals company needed a strategy to engage patients more deeply – and keep them loyal.

                  p This pharma company valued our deep expertise in specialty drugs marketing and our past successful engagements, and asked us to partner on a strategy and approach for this important initiative.

                  hr

                  h5.text-caps.text-blue.bold Our Approach:

                  p We helped the pharma company craft a service strategy that focused on simplifying and streamlining treatment for the patient, and then delivered the underlying infrastructure. 

                  p By coordinating care, we helped the company create a patient experience providing services focused on the human involved in the treatment by connecting the various involved parties from insurance to nurses to pharmacies to valuable information about patient care. 

                  p A mobile app further empowers the patient to better manage treatment.

                //- ==========  RIGHT COLUMN  ==========
                .cell.auto
                  img.w100.h100.object-fit-cover.object-position-right-top(src="images/Case-Study-Images-assets/caseStudy-focus-on-patients.jpg")


              //- ==============================  CASE STUDY RESULTS  ==============================
              .bg-gray-light.medium-p1.large-p2
                .grid-x.grid-padding-x.medium-unstack

                  //- ==========  LEFT COLUMN  ==========
                  .cell.auto.mb3.medium-mb0
                    h4.text-blue Support Past the Prescription Means Better Quality of Life

                    p We helped the company create a program that would provides enrolled patients with an improved quality of life, fewer hospitalizations and lower overall healthcare costs. The company benefits from continued loyalty and adherence to treatment plans.


                  //- ==========  RIGHT COLUMN  ==========
                  .cell.auto
                    h3.m0 $3,000 
                    p savings per year per patient on cost of care.

                    h3.m0 +26%
                    p Number of days an average patient is covered by the company’s drug.

                    h3.m0 26%
                    p Of health professionals using the program to prescribe more drugs.

                .grid-x.grid-padding-x.text-center.my2
                  .cell
                    //- hr.green
                    h6.text-caps Want to learn more? Explore this case study Further
                    a.button.large.m0(href="#")
                      | download full case STUDY
                      i.download.fw600.ml-half


              .grid-x.grid-padding-x.medium-unstack.py1.align-middle
                .cell.auto.medium-bd-r1.py1.medium-py0
                  a.flex-container.align-middle(href="#")
                    .bg-green.text-center.px-half.py2.mr1
                      h5.m0
                        i.arrow-left.text-white.fw600
                    div
                      p.text-normal.small.m0.text-gray-dark VIEW INDUSTRY
                      | [Link back to referring industry goes here]
                .cell.medium-3.text-center.py1.medium-py0
                  a.flex-container.align-middle.flex-dir-column(href="#")
                    p.text-normal.small.m0.text-gray-dark VIEW
                    | Link to referring service goes here
                .cell.auto.medium-text-right.medium-bd-l1.py1.medium-py0
                  a.flex-container.align-middle(href="#")
                    div
                      p.text-normal.small.m0.text-gray-dark NEXT
                      | [Link to next case study article goes here]
                    .bg-green.text-center.px-half.py2.ml1
                      h5.m0
                        i.arrow-right.text-white.fw600

              .grid-x.grid-padding-x
                .cell
                  hr
                  p.text-bold.mb-half.small.text-center SPREAD THE WORD
                  .button-group.flex-container.align-center.align-middle
                    .button.white(href="#")
                      h3.m0.text-green
                        i.email
                    .button.white(href="#")
                      h3.m0.text-green
                        i.logo-twitter-bird
                    .button.white(href="#")
                      h3.m0.text-green
                        i.logo-facebook
                    .button.white(href="#")
                      h3.m0.text-green
                        i.logo-linkedin


        :markdown-it
          Non reprehenderit deserunt consectetur ad fugiat et eu esse consectetur dolor deserunt sit ea minim. Velit quis mollit ex consequat excepteur nisi exercitation commodo et tempor adipisicing. Do nostrud labore Lorem magna ad duis ea dolor sit magna occaecat occaecat in anim ut occaecat et.

          Reprehenderit amet cillum minim officia commodo non adipisicing occaecat pariatur magna. In qui minim anim nostrud ipsum in sunt ea commodo amet culpa tempor. Id laborum aliquip mollit nostrud voluptate qui occaecat pariatur veniam eiusmod esse eiusmod officia quis. Ea enim ullamco exercitation ea cillum deserunt excepteur anim tempor id. Eiusmod veniam fugiat nulla veniam laboris minim irure enim magna est aute ad. Eu veniam eiusmod voluptate eiusmod occaecat qui sit pariatur dolore reprehenderit duis nisi velit. Nulla incididunt ipsum minim consectetur cupidatat dolor deserunt velit anim aute. Irure laboris in deserunt voluptate qui qui tempor sit elit eu non id nisi pariatur cupidatat ut reprehenderit.

          Laborum culpa sit nisi non officia do non occaecat excepteur fugiat. Minim non ex aliqua irure et fugiat laborum et fugiat pariatur amet aliquip Lorem aute. Duis Lorem velit consequat laboris irure culpa minim. Et Lorem sunt nulla minim irure anim ad esse eiusmod. Tempor eu et ea ex id eiusmod Lorem esse pariatur. Duis ea qui est ad voluptate tempor incididunt laborum non in quis consectetur occaecat proident ipsum dolor aliquip. Commodo eu minim aliquip et consectetur excepteur ea ea nulla irure dolor pariatur nulla velit.

          Ullamco eu tempor ea amet nisi dolore laborum exercitation exercitation ex consectetur magna mollit minim laboris. Sunt anim officia non consectetur qui anim ipsum. Velit cupidatat sit officia sunt tempor aliquip aliquip cillum cillum incididunt ut fugiat. Laboris laboris laborum magna occaecat sunt est non aute occaecat anim eu labore in et excepteur pariatur sit.
          Non reprehenderit deserunt consectetur ad fugiat et eu esse consectetur dolor deserunt sit ea minim. Velit quis mollit ex consequat excepteur nisi exercitation commodo et tempor adipisicing. Do nostrud labore Lorem magna ad duis ea dolor sit magna occaecat occaecat in anim ut occaecat et.

          Reprehenderit amet cillum minim officia commodo non adipisicing occaecat pariatur magna. In qui minim anim nostrud ipsum in sunt ea commodo amet culpa tempor. Id laborum aliquip mollit nostrud voluptate qui occaecat pariatur veniam eiusmod esse eiusmod officia quis. Ea enim ullamco exercitation ea cillum deserunt excepteur anim tempor id. Eiusmod veniam fugiat nulla veniam laboris minim irure enim magna est aute ad. Eu veniam eiusmod voluptate eiusmod occaecat qui sit pariatur dolore reprehenderit duis nisi velit. Nulla incididunt ipsum minim consectetur cupidatat dolor deserunt velit anim aute. Irure laboris in deserunt voluptate qui qui tempor sit elit eu non id nisi pariatur cupidatat ut reprehenderit.

          Laborum culpa sit nisi non officia do non occaecat excepteur fugiat. Minim non ex aliqua irure et fugiat laborum et fugiat pariatur amet aliquip Lorem aute. Duis Lorem velit consequat laboris irure culpa minim. Et Lorem sunt nulla minim irure anim ad esse eiusmod. Tempor eu et ea ex id eiusmod Lorem esse pariatur. Duis ea qui est ad voluptate tempor incididunt laborum non in quis consectetur occaecat proident ipsum dolor aliquip. Commodo eu minim aliquip et consectetur excepteur ea ea nulla irure dolor pariatur nulla velit.

          Ullamco eu tempor ea amet nisi dolore laborum exercitation exercitation ex consectetur magna mollit minim laboris. Sunt anim officia non consectetur qui anim ipsum. Velit cupidatat sit officia sunt tempor aliquip aliquip cillum cillum incididunt ut fugiat. Laboris laboris laborum magna occaecat sunt est non aute occaecat anim eu labore in et excepteur pariatur sit.
          Non reprehenderit deserunt consectetur ad fugiat et eu esse consectetur dolor deserunt sit ea minim. Velit quis mollit ex consequat excepteur nisi exercitation commodo et tempor adipisicing. Do nostrud labore Lorem magna ad duis ea dolor sit magna occaecat occaecat in anim ut occaecat et.

          Reprehenderit amet cillum minim officia commodo non adipisicing occaecat pariatur magna. In qui minim anim nostrud ipsum in sunt ea commodo amet culpa tempor. Id laborum aliquip mollit nostrud voluptate qui occaecat pariatur veniam eiusmod esse eiusmod officia quis. Ea enim ullamco exercitation ea cillum deserunt excepteur anim tempor id. Eiusmod veniam fugiat nulla veniam laboris minim irure enim magna est aute ad. Eu veniam eiusmod voluptate eiusmod occaecat qui sit pariatur dolore reprehenderit duis nisi velit. Nulla incididunt ipsum minim consectetur cupidatat dolor deserunt velit anim aute. Irure laboris in deserunt voluptate qui qui tempor sit elit eu non id nisi pariatur cupidatat ut reprehenderit.

          Laborum culpa sit nisi non officia do non occaecat excepteur fugiat. Minim non ex aliqua irure et fugiat laborum et fugiat pariatur amet aliquip Lorem aute. Duis Lorem velit consequat laboris irure culpa minim. Et Lorem sunt nulla minim irure anim ad esse eiusmod. Tempor eu et ea ex id eiusmod Lorem esse pariatur. Duis ea qui est ad voluptate tempor incididunt laborum non in quis consectetur occaecat proident ipsum dolor aliquip. Commodo eu minim aliquip et consectetur excepteur ea ea nulla irure dolor pariatur nulla velit.

          Ullamco eu tempor ea amet nisi dolore laborum exercitation exercitation ex consectetur magna mollit minim laboris. Sunt anim officia non consectetur qui anim ipsum. Velit cupidatat sit officia sunt tempor aliquip aliquip cillum cillum incididunt ut fugiat. Laboris laboris laborum magna occaecat sunt est non aute occaecat anim eu labore in et excepteur pariatur sit.
