extend __LAYOUT-TEMPLATE.pug
block vars
    - var pageTitle = "GIC templates"

block content

    h1!= pageTitle

    h3 Featured asset- fully flexible image
    .gic-feature-wrapper.bg-gray-light3.py0.medium-py4
        .grid-x.grid-padding-x.bg-white.mb2
            .cell.small-12.medium-5.medium-p0
                .w100.h100.relative
                    img.object-fit-cover.medium-absolute.object-position-center-center(src="https://www.cognizant.com/content/dam/Field_Marketing/operation-2/ai-pad.jpg")
            .cell.small-12.medium-7.p2
                p.text-gray-light(contenteditable="true") INFOGRAPHIC
                h5(contenteditable="true") Creating new possibilities through AI enabling zero based operations
                p(contenteditable="true") Intelligent machines are now commonplace in the working world. How can your organisation ensure it gets the best out of both?
                a(href="https://cogniz.at/2SAaEQy", title="DOWNLOAD")
                    | DOWNLOAD
                    i.arrow-right.fw600
        .grid-x.grid-padding-x.bg-white.mb2
            .cell.small-12.medium-5.medium-p0
                .w100.h100.relative
                    img.object-fit-cover.medium-absolute.object-position-center-center(src="http://www.placehold.it/600x400")
            .cell.small-12.medium-7.p2
                p.text-gray-light(contenteditable="true") INFOGRAPHIC
                h5(contenteditable="true") Creating new possibilities through AI enabling zero based operations
                p(contenteditable="true") Intelligent machines are now commonplace in the working world. How can your organisation ensure it gets the best out of both?
                a(href="https://cogniz.at/2SAaEQy", title="DOWNLOAD")
                    | DOWNLOAD
                    i.arrow-right.fw600
        .grid-x.grid-padding-x.bg-white.mb2
            .cell.small-12.medium-5.medium-p0
                .w100.h100.relative
                    img.object-fit-cover.medium-absolute.object-position-center-center(src="http://www.placehold.it/600x200")
            .cell.small-12.medium-7.p2
                p.text-gray-light(contenteditable="true") INFOGRAPHIC
                h5(contenteditable="true") Creating new possibilities through AI enabling zero based operations
                p(contenteditable="true") Intelligent machines are now commonplace in the working world. How can your organisation ensure it gets the best out of both?
                a(href="https://cogniz.at/2SAaEQy", title="DOWNLOAD")
                    | DOWNLOAD
                    i.arrow-right.fw600

    h3 Featured asset- full width, flexible height
    .gic-feature-wrapper.bg-gray-light3.py0.medium-py4
        .grid-x.grid-padding-x.bg-white.mb2
            .cell.small-12.medium-5.medium-p0
                img.object-fit-cover.object-position-center-center(src="https://www.cognizant.com/content/dam/Field_Marketing/operation-2/ai-pad.jpg")
            .cell.small-12.medium-7.p2
                .grid-x.grid-padding-x.align-middle.h100
                    .cell
                        p.text-gray-light(contenteditable="true") INFOGRAPHIC
                        h5(contenteditable="true") Creating new possibilities through AI enabling zero based operations
                        p(contenteditable="true") Intelligent machines are now commonplace in the working world. How can your organisation ensure it gets the best out of both?
                        a(href="https://cogniz.at/2SAaEQy", title="DOWNLOAD")
                            | DOWNLOAD
                            i.arrow-right.fw600
        .grid-x.grid-padding-x.bg-white.mb2
            .cell.small-12.medium-5.medium-p0
                img.object-fit-cover.object-position-center-center(src="http://www.placehold.it/600x400")
            .cell.small-12.medium-7.p2
                .grid-x.grid-padding-x.align-middle.h100
                    .cell
                        p.text-gray-light(contenteditable="true") INFOGRAPHIC
                        h5(contenteditable="true") Creating new possibilities through AI enabling zero based operations
                        p(contenteditable="true") Intelligent machines are now commonplace in the working world. How can your organisation ensure it gets the best out of both?
                        a(href="https://cogniz.at/2SAaEQy", title="DOWNLOAD")
                            | DOWNLOAD
                            i.arrow-right.fw600
        .grid-x.grid-padding-x.bg-white.mb2
            .cell.small-12.medium-5.medium-p0
                img.object-fit-cover.object-position-center-center(src="http://www.placehold.it/600x200")
            .cell.small-12.medium-7.p2
                .grid-x.grid-padding-x.align-middle.h100
                    .cell
                        p.text-gray-light(contenteditable="true") INFOGRAPHIC
                        h5(contenteditable="true") Creating new possibilities through AI enabling zero based operations
                        p(contenteditable="true") Intelligent machines are now commonplace in the working world. How can your organisation ensure it gets the best out of both?
                        a(href="https://cogniz.at/2SAaEQy", title="DOWNLOAD")
                            | DOWNLOAD
                            i.arrow-right.fw600

    h3 Featured asset- full width, fixed height
    .gic-feature-wrapper.bg-gray-light.py0.medium-py4
        .grid-x.grid-padding-x.bg-white.mb2
            .cell.small-12.medium-6.medium-p0
                img.w100(src="https://www.cognizant.com/content/dam/Field_Marketing/operation-2/ai-pad.jpg")
            .cell.small-12.medium-6.p2
                .grid-x.grid-padding-x.align-middle.h100
                    .cell
                        p.text-gray-light(contenteditable="true") INFOGRAPHIC
                        h5(contenteditable="true") Creating new possibilities through AI enabling zero based operations
                        p(contenteditable="true") Intelligent machines are now commonplace in the working world. How can your organisation ensure it gets the best out of both?
                        a(href="https://cogniz.at/2SAaEQy", title="DOWNLOAD")
                            | DOWNLOAD
                            i.arrow-right.fw600
        h3 SELECTED APPROACH
        .grid-x.grid-padding-x.bg-white.mb2
            .cell.small-12.medium-6.medium-p0
                //- img.w100(data-interchange='[http://www.placehold.it/600x480?text=Small+600x480, small], [http://www.placehold.it/600x480?text=Medium+600x480, medium], [http://www.placehold.it/600x480?text=Large+600x480, large]')
                img.w100(src="http://www.placehold.it/600x480?text=Large+600x480")
            .cell.small-12.medium-6.p2
                .grid-x.grid-padding-x.align-middle.h100
                    .cell
                        p.text-gray-light(contenteditable="true") INFOGRAPHIC
                        h5(contenteditable="true") Creating new possibilities through AI enabling zero based operations
                        p(contenteditable="true") Intelligent machines are now commonplace in the working world. How can your organisation ensure it gets the best out of both?
                        a(href="https://cogniz.at/2SAaEQy", title="DOWNLOAD")
                            | DOWNLOAD
                            i.arrow-right.fw600
        .grid-x.grid-padding-x.bg-white.mb2
            .cell.small-12.medium-5.medium-p0
                img.w100(src="http://www.placehold.it/600x200")
            .cell.small-12.medium-7.p2
                .grid-x.grid-padding-x.align-middle.h100
                    .cell
                        p.text-gray-light(contenteditable="true") INFOGRAPHIC
                        h5(contenteditable="true") Creating new possibilities through AI enabling zero based operations
                        p(contenteditable="true") Intelligent machines are now commonplace in the working world. How can your organisation ensure it gets the best out of both?
                        a(href="https://cogniz.at/2SAaEQy", title="DOWNLOAD")
                            | DOWNLOAD
                            i.arrow-right.fw600



    h3 Faux animated SPEAKER accordion

    .grid-container
        .grid-x.grid-padding-x.cell
            ul.small-bd1.no-bullet
                li.m0.p2.gic-accordion.bg-default#bg-default01(data-toggle="bg-default01 speaker01-img speaker01-arrow divider01 content01" data-toggler=".bg-active")
                    .grid-x.grid-padding-x.flex-container.align-justify
                        .cell.small-order-1.shrink.mb1.medium-mb0.img-default#speaker01-img(data-toggler=".img-scaled")
                            img.rounded(src="./content/dam/FM-2019-IDC-DemGen-Microsites/Paul.Roehrig-134.jpg")
                        .cell.small-12.medium-auto.small-order-3.medium-order-2
                            h5.text-black Jane Doe
                            hr#divider01.hr-hide(data-toggler=".hr-show")
                            p.mb0.text-bold
                                | Director of Business Enablement Merck &amp; Company and co-Lead of the Shared Investigator Platform for Transcelerate.

                            p#content01.content-hide(data-toggler=".content-show")
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                        .cell.shrink.small-order-2
                            h5.m0
                                i.arrow-down.text-bold.text-blue#speaker01-arrow(data-toggler=".arrow-down-spun")
                li.m0.p2.gic-accordion.bg-default#bg-default02(data-toggle="bg-default02 speaker02-img speaker02-arrow divider02 content02" data-toggler=".bg-active")
                    .grid-x.grid-padding-x.flex-container.align-justify
                        .cell.small-12.medium-auto.small-order-3.medium-order-2
                            h5.text-black Jane Doe
                            hr#divider02.hr-hide(data-toggler=".hr-show")
                            p.mb0.text-bold
                                | Director of Business Enablement Merck &amp; Company and co-Lead of the Shared Investigator Platform for Transcelerate.

                            p#content02.content-hide(data-toggler=".content-show")
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                        .cell.shrink.small-order-2
                            h5.m0
                                i.arrow-down.text-bold.text-blue#speaker02-arrow(data-toggler=".arrow-down-spun")
                li.m0.p2.gic-accordion.bg-default#bg-default03(data-toggle="bg-default03 speaker03-img speaker03-arrow divider03 content03" data-toggler=".bg-active")
                    .grid-x.grid-padding-x.flex-container.align-justify
                        .cell.small-order-1.shrink.mb1.medium-mb0.img-default#speaker03-img(data-toggler=".img-scaled")
                            img.rounded(src="./content/dam/FM-2019-IDC-DemGen-Microsites/Paul.Roehrig-134.jpg")
                        .cell.small-12.medium-auto.small-order-3.medium-order-2
                            h5.text-black Jane Doe
                            hr#divider03.hr-hide(data-toggler=".hr-show")
                            p.mb0.text-bold
                                | Director of Business Enablement Merck &amp; Company and co-Lead of the Shared Investigator Platform for Transcelerate.

                            p#content03.content-hide(data-toggler=".content-show")
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                        .cell.shrink.small-order-2
                            h5.m0
                                i.arrow-down.text-bold.text-blue#speaker03-arrow(data-toggler=".arrow-down-spun")


    h3 Faux animated TEXT accordion
    .grid-container
        .grid-x.grid-padding-x.cell
            ul.small-bd1.no-bullet.w100
                li.m0.p2.gic-accordion.bg-default#bg-text-default01(data-toggle="bg-text-default01 text01-arrow text-content01" data-toggler=".bg-active")
                    .grid-x.grid-padding-x.flex-container.align-justify
                        .cell.auto
                            h5.text-black.m0 Accordion title

                            p#text-content01.content-hide.mb0.small-bd-t1(data-toggler=".content-show")
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                        .cell.small-order-2.shrink
                            h5.m0
                                i.arrow-down.text-bold.text-blue#text01-arrow(data-toggler=".arrow-down-spun")
                li.m0.p2.gic-accordion.bg-default#bg-text-default02(data-toggle="bg-text-default02 text02-arrow text-content02" data-toggler=".bg-active")
                    .grid-x.grid-padding-x.flex-container.align-justify
                        .cell.auto
                            h5.text-black.m0 Accordion title

                            p#text-content02.content-hide.mb0.small-bd-t1(data-toggler=".content-show")
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                        .cell.small-order-2.shrink
                            h5.m0
                                i.arrow-down.text-bold.text-blue#text02-arrow(data-toggler=".arrow-down-spun")
                li.m0.p2.gic-accordion.bg-default#bg-text-default03(data-toggle="bg-text-default03 text03-arrow text-content03" data-toggler=".bg-active")
                    .grid-x.grid-padding-x.flex-container.align-justify
                        .cell.auto
                            h5.text-black.m0 Accordion title

                            p#text-content03.content-hide.mb0.small-bd-t1(data-toggler=".content-show")
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos sapiente provident, saepe hic quas sint obcaecati, qui dolores quasi perferendis odio consequuntur, repellat exercitationem tempore fuga mollitia rerum labore!
                        .cell.small-order-2.shrink
                            h5.m0
                                i.arrow-down.text-bold.text-blue#text03-arrow(data-toggler=".arrow-down-spun")



