extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "Grid icon type"

block content

  h1!= pageTitle

  mixin grid-icon-type
    .anim-slide-up.cell.cell-block.flex-container.text-white
      .card.gradient-overlay-blue-full(style="background: url(https://picsum.photos/300/200/?random) no-repeat; background-size: cover; background-position: center center;")
        .card-divider.bg-transparent
          h5
            i.graph-bar
        .card-section.z1
          .grid-x.grid-padding-x
            .cell
              .slide-up-section1.flex-shrink
                p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio, dapibus ac facilisis in, egestas eget quam justo odio, dapibus ac facilisis in, egestas eget.
              .slide-up-section2.flex-shrink
                hr.my1.opacity-50.white
                p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3
      +grid-icon-type
      +grid-icon-type
      +grid-icon-type

  hr
  .grid-container
    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3
      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing
      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing ipsum dolor sit amet
      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing
      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing ipsum dolor sit amet
      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio, dapibus ac facilisis in, egestas eget quam justo odio, dapibus ac facilisis in, egestas eget.
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing
      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio, dapibus ac facilisis in, egestas eget quam justo odio, dapibus ac facilisis in, egestas eget.
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing ipsum dolor sit amet
      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio, dapibus ac facilisis in, egestas eget quam justo odio, dapibus ac facilisis in, egestas eget.
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.


      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio, dapibus ac facilisis in, egestas eget quam justo odio, dapibus ac facilisis in, egestas eget.
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Lorem ipsum dolor sit amet, consectetur adipisicing elit Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio, dapibus ac facilisis in, egestas eget quam. justo 
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet
      .anim-slide-up.cell.cell-block.flex-container.text-white
        .card.gradient-overlay-blue-full(style="background: url(https://unsplash.it/300/200?image=1063) no-repeat; background-size: cover; background-position: center center;")
          .card-divider.bg-transparent
            h5
              i.graph-bar
          .card-section.z1
            .grid-x.grid-padding-x
              .cell
                .slide-up-section1
                  p.text-bold.m0.arrow.arrow-solid-green.truncate-110 Heading Cras justo odio
                .slide-up-section2
                  hr.white.my1.opacity-50
                  p.small.m0.truncate-120 Lorem ipsum dolor sit amet, consectetur adipisicing







