extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "Grid"

block content

  h1!= pageTitle

  style.
    .gridDemo {

    }

  h2 CSS Grid
  .grid-container
    .row.grid-padding-x.large-12
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.column.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1

  hr
  h2 Flex grid
  .grid-container
    .grid-x.grid-padding-x.large-10
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
      .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1

    hr
    h3 Nested Grid

    .grid-x.grid-padding-x
      .small-6.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
        .grid-x.grid-padding-x
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
      .small-3.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1
        .grid-x.grid-padding-x.bg-gray-light.align-middle.py1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
          .small-1.cell.bg-gray-light.align-middle.py1.small-bd1
            p.m0 1
      .small-3.cell.bg-gray-light.align-middle.py1.small-bd1
        p.m0 1


    hr
    h2 Media queries
    .grid-x.grid-padding-x
      .cell.media-query-test.p1
        h5.text-white.m0 Media query test:
          span.text-normal





