doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Cognizant | COMPONENT PROTOTYPES
    link(rel='stylesheet', href='css/app.css')

    // ==============================  FAVICONS  ==============================
    link(rel="apple-touch-icon", sizes="180x180", href="./favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="194x194", href="./favicons/favicon-194x194.png")
    link(rel="icon", type="image/png", sizes="192x192", href="./favicons/android-chrome-192x192.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./favicons/favicon-16x16.png")
    link(rel="manifest", href="./favicons/site.webmanifest")
    link(rel="mask-icon", href="./favicons/safari-pinned-tab.svg", color="#0033a0")
    link(rel="shortcut icon", href="./favicons/favicon.ico")
    meta(name="msapplication-TileColor", content="#0033a0")
    meta(name="msapplication-TileImage", content="./favicons/mstile-144x144.png")
    meta(name="msapplication-config", content="./favicons/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")


  body.small-p2
    .grid-container
      .grid-x.grid-padding-x
      .cell
        //- label
          input(type="checkbox", name="pjax")
          | pjax

        h1 COMPONENT PROTOTYPES “”‘’'" &rsquo;
        hr
        h2
          a(href="kitchen-sink.html") Kitchen Sink
        hr
        h2
          a(href="layered-type-replacement-options.html") Layered Type Replacement Options
        h2
          a(href="../../serifs%20trial%20fonts/_build/index.html") Serif font trials
        h2
          a(href="industries-revamp.html") Industries revamp
        h2
          a(href="gic-templates.html") GIC templates
        hr
        h2 Global Components
        h4
          a(href="spacing.html") Spacing
        h4
          a(href="typography.html") Typography, Links, Buttons and Colors
        h4
          a(href="accordion.html") Accordion
        h4
          a(href="block-grid.html") Block Grid
        h4
          a(href="blog.html") Blog
        h4
          a(href="box-module.html") Box Module
        h4
          a(href="case-study.html") Case Study
        h4
          a(href="callout.html") Callout
        h4
          a(href="captcha.html") Captcha
        h4
          a(href="carousel.html") Carousel
        h4
          a(href="dual-sliders.html") Dual Sliders
        h4
          a(href="file-download.html") File Download
        h4
          a(href="forms.html") Forms
        h4
          a(href="footer.html") Footer
        h4
          a(href="grid.html") Grid
        h4
          a(href="grid-icon-type.html") Grid Icon Type
        h4
          a(href="grid-line-arrow.html") Grid Line Arrow
        h4
          a(href="header-banners.html") Header Banners
        h4
          a(href="header-banners-lockups.html") Header Banners, logo lockups
        h4
          a(href="header-banners-serviceslps.html") Header Banners, services landing pages
        h4
          a(href="header-image.html") Header IMAGE
        h4
          a(href="header-text.html") Header TEXT
        h4
          a(href="maps.html") Maps
        h4
          a(href="navigation.html") Navigation
        h4
          a(href="navigation-megamenu.html") Navigation, megamenu test
        h4
          a(href="nav-sub-bar.html") NAV Sub Bar
        h4
          a(href="news-events.html") News Events
        h4
          a(href="pardot.html") Pardot
        h4
          a(href="partners.html") Partners
        h4
          a(href="podcasts.html") Podcasts
        h4
          a(href="quotes.html") Quotes
        h4
          a(href="section-color-bar.html") Section Color Bar
        h4
          a(href="search-alert.html") Search Alert
        h4
          a(href="tables.html") Tables
        h4
          a(href="tabs.html") Tabs
        h4
          a(href="team.html") Team
        h4
          a(href="tooltip.html") Tooltip
        h4
          a(href="video.html") Video
        h4
          a(href="2019-q1-homepagecarousel.html") 2019 Q1 Homepage Carousel
        h4
          a(href="digital-hub-map.html") Digital Hub Map


    script(src='js/min/app-min.js')