extend __LAYOUT-TEMPLATE.pug
block vars
    - var pageTitle = "Pardot"

block content

    h1!= pageTitle
    mixin verticalCard
        // ========== VERTICAL CARD ==========
        .card&attributes(attributes)
            div(style="height: 100px; overflow: hidden")
                img.object-fit-cover.w100( data-interchange="[https://www.cognizant.com/content/dam/Cognizant_Dotcom/images/Banking-on-blockchain-in-asia-pacific_Banner.jpg, small],[https://www.cognizant.com/content/dam/Cognizant_Dotcom/images/Banking-on-blockchain-in-asia-pacific_Banner.jpg, medium],[https://www.cognizant.com/content/dam/Cognizant_Dotcom/images/Banking-on-blockchain-in-asia-pacific_Banner.jpg, large]", src="https://www.cognizant.com/content/dam/Cognizant_Dotcom/images/Banking-on-blockchain-in-asia-pacific_Banner.jpg")
            .card-section
                h5.small-m0 Blockchain: Instead of Why, Ask Why Not?
                p ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perferendis autem fuga non soluta, provident est mollitia! Voluptates doloremque id accusamus est facere sed? Quos eaque autem, perferendis repudiandae quidem?
                a.button.small.text-caps.arrow(href="https://www.cognizant.com", target="_blank", title="READ MORE") READ MORE


    mixin horizontalCard
        // ========== HORIZONTAL CARD ==========
        .card&attributes(attributes)
            .grid-x.grid-padding-x.collapse
                .cell.large-4.small-12
                    a(href="https://go.pardot.com/l/297592/2018-04-05/5tl4p")
                        img.w100.h100.object-fit-cover(src="https://www.cognizant.com/content/dam/cognizant_foundation/Dotcomimage/digital-engineering-services.jpg")
                .cell.large-8.small-12.p1
                    h5.small-m0 Blockchain: Instead of Why, Ask Why Not?
                    p ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perferendis autem fuga non soluta, provident est moll=
                    a.button.small.small-m0(href="https://go.pardot.com/l/297592/2018-04-05/5tl4p")
                        | download content
                        i.download.text-bold.small-ml-half



    mixin pardotForm
        // ===========  RIGHT COLUMN FORM  ============
        .cell.medium-4.small-12
            .callout.small.box-shadow.bg-gray-light
                iframe#pardot-form(style="min-height: 650px; height: 760px;", src="https://global.cognizant.com/l/297592/2018-06-06/8d8kh", width="100%" scrolling="no" height="100%" frameborder="0", allowfullscreen)


    mixin webinarBlurb
        // ========== WEBINAR BLURB ==========
        .grid-x.grid-padding-x
            .small-12.cell
                h5.small-m0 Webinar Blurb
                p Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna.


    mixin sessionBlurb
        // ========== SESSION BLURB ==========
        .grid-x.grid-padding-x
            .small-12.cell
                h5.small-m0 Session Blurb
                p Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.


    mixin capabilitiesBlurb
        // ========== CAPABILITIES BLURB ==========
        .grid-x.grid-padding-x
            .small-12.cell
                p Capabilities Blurb Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna.


    mixin agenda
        // ========== AGENDA ==========
        .grid-x.grid-padding-x
            .small-12.cell
                h5.small-m0 Agenda
                ul
                    li ipsum dolor sit amet, consectetur adipisicing elit. ipsum dolor sit amet, consectetur adipisicing elit. ipsum dolor sit amet, consectetur adipisicing elit. ipsum dolor sit amet, consectetur adipisicing elit.
                    li ipsum dolor sit amet, consectetur adipisicing elit.
                    li Make it hyper-personalized to their interests
                    li Make it hyper-personalized to their interests


    a.button.tiny.m2(href="index.html") BACK

    p(style="margin-bottom: 1000px;") SCROLL DOWN
        i.arrow-down

    .grid-x.grid-padding-x
        .cell(data-aos="fade-right")
            h3 Pardot form in modal overlay
    .grid-x.grid-padding-x.small-mb4
        .cell(data-aos="fade-right")
            a.button.large.arrow#open(data-open="pardotModal") OPEN MODAL

        .p0.bg-transparent.reveal#pardotModal(data-reveal)
            .bg-white.p2(data-aos="zoom-in")
                .grid-x.grid-padding-x
                    .small-12.medium-4.cell(data-aos="fade-right" data-aos-delay="200")
                        img(src="http://placehold.it/400x200?text=Supporting+image+here")
                    .small-12.medium-8.cell(data-aos="fade-left" data-aos-delay="200")
                        //- h2 form
                        iframe(src="https://go.pardot.com/l/297592/2018-10-09/c9dsq" frameborder="0" scrolling="yes" allowfullscreen)
            button.close-button.text-green(data-close aria-label="Close modal" type="button")
                span(aria-hidden="true") &times;
    //- .grid-x.grid-padding-x
        .cell
            h3 Pardot Template 2/3, 1/3 with form

    //- .grid-x.grid-padding-x
        .small-12.medium-8.cell
            .card
                img(src="https://www.cognizant.com/content/dam/Cognizant_Dotcom/images/Banking-on-blockchain-in-asia-pacific_Banner.jpg")
                .card-section
                    h5.small-m0 Completing the Blockchain Jigsaw
                    p
                        b Safer Transactions:
                        | Connect legacy systems of record withblockchain networks to promote trust and true collaboration across their value chains.
                    a.button.small.arrow(href="https://www.cognizant.com/whitepapers/how-integrated-process-management-completes-the-blockchain-jigsaw-codex3435.pdf", title="DOWNLOAD")
                        | DOWNLOAD
            .card
                img(src="https://www.cognizant.com/content/dam/Cognizant_Dotcom/images/Banking-on-blockchain-in-asia-pacific_Banner.jpg")
                .card-section
                    h5.small-m0 Completing the Blockchain Jigsaw
                    p
                        b Safer Transactions:
                        | Connect legacy systems of record withblockchain networks to promote trust and true collaboration across their value chains.
                    a.button.small.arrow(href="https://www.cognizant.com/whitepapers/how-integrated-process-management-completes-the-blockchain-jigsaw-codex3435.pdf", title="DOWNLOAD")
                        | DOWNLOAD

        .small-12.medium-4.cell
            .callout.small.callout-gray-light.box-shadow
                h6.text-blue-dark REGISTER NOW FOR THE EVENTNAME XYZ
                form
                    .input-group
                        span.input-group-label.small.p-half
                            i.person
                        label
                        input.input-group-field.small(type="text" placeholder="First Name" required)

                    .input-group
                        span.input-group-label.small.p-half
                            i.person
                        label
                        input.input-group-field.small(type="text" placeholder="Last Name" required)

                    .input-group
                        span.input-group-label.small.p-half
                            i.home
                        label
                        input.input-group-field.small(type="text" placeholder="Company")

                    .input-group
                        span.input-group-label.small.p-half
                            i.email
                        label
                        input.input-group-field.small(type="email" placeholder="Email" required)

                    .grid-x.grid-padding-x.collapse
                        .cell.shrink
                            input#signUpCheckbox(type="checkbox")
                        .cell
                            label.small(for="signUpCheckbox") Sign up to receive the latest news and announcements


                    .text-center.small-mt1
                        button.button.arrow.small(type="submit" value="Register Now") REGISTER NOW









    // ======================= CAMPAIGN MOF =======================
    //- hr.red
    //- h5.small-m0.text-red Campaign MoF

    //- .grid-x.grid-padding-x.pardot-iframe-wrapper.py2
        .cell.small-12.text-center
            h3 Content: Blockchain: Instead of Why, Ask Why Not?
            p Capabilities copy: ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perferendis autem fuga non soluta, provident est mollitia! Voluptates doloremque id accusamus est facere sed? Quos eaque autem, perferendis repudiandae quidem?

        .cell.medium-8.small-12
            .grid-x.grid-padding-x.small-up-1.medium-up-2
                .cell
                    //- +verticalCard
                .cell
                    //- +verticalCard.medium-mb0

        +pardotForm





    // ======================= CAMPAIGN MOF w/vertical card =======================
    //- hr.red
    //- h5.small-m0.text-red Campaign MoF with vertical cards
    //-
    //- .grid-x.grid-padding-x.pardot-iframe-wrapper.py2
        .cell.small-12.text-center
            h3 Content: Blockchain: Instead of Why, Ask Why Not?
            p Capabilities copy: ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perferendis autem fuga non soluta, provident est mollitia! Voluptates doloremque id accusamus est facere sed? Quos eaque autem, perferendis repudiandae quidem?

        .cell.medium-8.small-12
            +verticalCard
            +verticalCard


        +pardotForm




    // ======================= CAMPAIGN MOF w/both cards =======================
    //- hr.red
    //- h5.small-m0.text-red Campaign MoF with both cards
    //-
    //- .grid-x.grid-padding-x.pardot-iframe-wrapper.py2
        .cell.small-12.text-center
            h3 Content: Blockchain: Instead of Why, Ask Why Not?
            p Capabilities copy: ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis perferendis autem fuga non soluta, provident est mollitia! Voluptates doloremque id accusamus est facere sed? Quos eaque autem, perferendis repudiandae quidem?

        .cell.medium-8.small-12
            +verticalCard
            +horizontalCard


        +pardotForm





    // ======================= CAMPAIGN MOF W/WEBINAR OR EVENT PROMO =======================
    //- hr.red
    //- h5.small-m0.text-red Campaign MoF w/webinar or event promo
    //-
    //- .grid-x.grid-padding-x.pardot-iframe-wrapper.py2
        .cell.small-12.text-center
            h3 Webinar/Event Title

        .cell.medium-8.small-12
            +webinarBlurb

            +agenda

        +pardotForm





    // ======================= SIMPLE EVENT/WEBINAR =======================
    //- hr.red
    //- h5.small-m0.text-red Simple Event / Webinar
    //-
    //- .grid-x.grid-padding-x.pardot-iframe-wrapper.py2
        .cell.small-12.text-center
            h3 @ Event Activity Title

        .cell.medium-8.small-12
            +sessionBlurb

            +agenda

        +pardotForm





    // ======================= CAMPAIGN MOF – PERSONA SPLIT =======================
    //- hr.red
    //- h5.small-m0.text-red Campaign MoF – Persona split
    //-
    //- .grid-x.grid-padding-x.pardot-iframe-wrapper.py2
        .cell.small-12.text-center
            h3 Content Title

        .cell.medium-8.small-12
            +capabilitiesBlurb

            +horizontalCard
            +horizontalCard

        +pardotForm







    // ======================= COMPLEX EVENT =======================
    //- hr.red
    //- h5.small-m0.text-red Complex Event
    //-
    //- .grid-x.grid-padding-x.pardot-iframe-wrapper.py2
        .cell.small-12.text-center
            h3 @ Event Activity Title

        .cell.medium-8.small-12
            +sessionBlurb
            +agenda

        +pardotForm



    //- hr.red
    //- h5.small-m0.text-red Modal overlay
    //-
    //- a.button.arrow(href="#" data-open="pardot-modal") Open modal
    //-
    //- .reveal.bg-white#pardot-modal(data-reveal)
        .grid-x.grid-padding-x.py2
            .cell.small-12.text-center
                h3 Modal overlay
            button.close-button(data-close aria-label="Close modal" type="button")
                span(aria-hidden="true") &times;





    //- script.
        var $modal = $('#pardotModal');

        $.ajax('https://go.pardot.com/l/297592/2018-10-09/c9dsq')
            .done(function(resp){
                $modal.html(resp).foundation('open');
        });