extend __LAYOUT-TEMPLATE.pug
block vars
    - var pageTitle = "Section color bar"

block content

    h1!= pageTitle

    h3 Section-Color-Bar with text
    .bg-gray-dark.small-mbn6.pt1.pb5.text-center
        .grid-x.grid-padding-x.align-middle.align-center.small-mb1
            .cell.shrink
                h6.text-white.text-caps Our industry-specific operating models drive rapid evolution to digital
            .cell.shrink
                a.small.arrow.button.hollow.bd-green2.text-white see all industries
    .grid-x.grid-padding-x
        .cell.callout.small-mb0.bd0.small-mxn1-5
            .grid-x.grid-padding-x
                .small-12.medium-6.large-5.cell
                    h3 MODERNIZE EXPERIENCE. ACCELERATE PERFORMANCE.
                    hr
                .small-12.medium-6.large-7.cell
                    h4.text-blue
                        em Put customers at the center of digital experience.
                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued. It has an easy to override visual style, and is appropriately subdued.

                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style

    h3 Section-Color-Bar
    .bg-blue.small-mbn6.p5
    .grid-x.grid-padding-x
        .cell.callout.small-mb0.bd0.small-mxn1-5
            .grid-x.grid-padding-x
                .small-12.medium-6.large-5.cell
                    h3.text-bold MODERNIZE EXPERIENCE. ACCELERATE PERFORMANCE.
                    hr
                .small-12.medium-6.large-7.cell
                    h4.text-blue
                        em Put customers at the center of digital experience.
                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued. It has an easy to override visual style, and is appropriately subdued.

                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style

    .bg-orange.small-mbn6.p5
    .grid-x.grid-padding-x
        .cell.callout.small-mb0.bd0.small-mxn1-5
            .grid-x.grid-padding-x
                .small-12.medium-6.large-5.cell
                    h3 MODERNIZE EXPERIENCE. ACCELERATE PERFORMANCE.
                    hr
                .small-12.medium-6.large-7.cell
                    h4.text-blue
                        em Put customers at the center of digital experience.
                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued. It has an easy to override visual style, and is appropriately subdued.

                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style

    .bg-green.small-mbn6.p5
    .grid-x.grid-padding-x
        .cell.callout.small-mb0.bd0.small-mxn1-5
            .grid-x.grid-padding-x
                .small-12.medium-6.large-5.cell
                    h3 MODERNIZE EXPERIENCE. ACCELERATE PERFORMANCE.
                    hr
                .small-12.medium-6.large-7.cell
                    h4.text-blue
                        em Put customers at the center of digital experience.
                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued. It has an easy to override visual style, and is appropriately subdued.

                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style

    .small-mbn6.p5(style="background: url(https://unsplash.it/1200/200?image=1059) no-repeat; background-size: cover; background-position: center top;")
    .grid-x.grid-padding-x
        .cell.callout.small-mb0.bd0.small-mxn1-5
            .grid-x.grid-padding-x
                .small-12.medium-6.large-5.cell
                    h3 MODERNIZE EXPERIENCE. ACCELERATE PERFORMANCE.
                    hr
                .small-12.medium-6.large-7.cell
                    h4.text-blue
                        em Put customers at the center of digital experience.
                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued. It has an easy to override visual style, and is appropriately subdued.

                    p It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style, and is appropriately subdued.It has an easy to override visual style
