@charset "UTF-8";
:root {
  --heading-color: #2f78c4;
  --link-color: #2f78c4;
  --link-hover-color: #000048;
}

/* Usage Examples
    .my-level-1-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 48px;
        margin: 0 0 0 16px;
    }

    .my-level-2-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 32px; // Don't need to change any settings, will work with any font size automatically
        margin: 0 0 0 16px;
    }

    .my-body-copy-class {
        @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
        font-size: 16px;
    }

    // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output.
    // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings

    .slight-adjustment-needed {
        @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
        font-size: 17px;
    }

    .dont-do-this {
        @include text-crop;
        font-size: 16px;
        line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
    }
*/
.text-crop {
  line-height: 1.3;
}
.text-crop::after, .text-crop::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
}
.text-crop::before {
  margin-bottom: calc(-0.3555555556em + 0px);
}
.text-crop::after {
  margin-top: calc(-0.2444444444em + 0);
}

body {
  font-feature-settings: "ss01";
}

.h1,
h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  font-feature-settings: "ss00";
}
@media (min-width: 320px) {
  .h1,
h1 {
    font-size: calc(36px + 48 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h1,
h1 {
    font-size: 84px;
  }
}
@media (min-width: 320px) {
  .h1,
h1 {
    line-height: calc(36px + 56.4 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h1,
h1 {
    line-height: 92.4px;
  }
}

.h2,
h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  font-feature-settings: "ss00";
}
@media (min-width: 320px) {
  .h2,
h2 {
    font-size: calc(32px + 31 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h2,
h2 {
    font-size: 63px;
  }
}
@media (min-width: 320px) {
  .h2,
h2 {
    line-height: calc(32px + 37.3 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h2,
h2 {
    line-height: 69.3px;
  }
}

.h3,
h3 {
  font-size: 28px;
  font-weight: bold;
  font-feature-settings: "ss00";
}
@media (min-width: 320px) {
  .h3,
h3 {
    font-size: calc(28px + 19 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h3,
h3 {
    font-size: 47px;
  }
}

.h4,
h4 {
  font-size: 25px;
  font-weight: 300;
  font-feature-settings: "ss00";
  color: var(--heading-color);
}
@media (min-width: 320px) {
  .h4,
h4 {
    font-size: calc(25px + 11 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h4,
h4 {
    font-size: 36px;
  }
}

.h5,
h5 {
  font-size: 22px;
  font-weight: normal;
  font-feature-settings: "ss00";
  color: var(--heading-color);
}
@media (min-width: 320px) {
  .h5,
h5 {
    font-size: calc(22px + 5 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h5,
h5 {
    font-size: 27px;
  }
}

.h6,
h6 {
  font-size: 20px;
  font-weight: bold;
  font-feature-settings: "ss01";
  color: var(--heading-color);
}
@media (min-width: 320px) {
  .h6,
h6 {
    font-size: calc(20px + 0 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h6,
h6 {
    font-size: 20px;
  }
}

.p,
p {
  font-size: 16px;
}
@media (min-width: 320px) {
  .p,
p {
    font-size: calc(16px + 4 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .p,
p {
    font-size: 20px;
  }
}
.extra-large {
  font-size: 40px;
  line-height: 1;
}
@media (min-width: 320px) {
  .extra-large {
    font-size: calc(40px + 72 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .extra-large {
    font-size: 112px;
  }
}
@media (min-width: 320px) {
  .extra-large {
    line-height: calc(1 + 0.1 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .extra-large {
    line-height: 1.1;
  }
}

.super-size {
  font-size: 48px;
  line-height: 1;
}
@media (min-width: 320px) {
  .super-size {
    font-size: calc(48px + 92 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .super-size {
    font-size: 140px;
  }
}
@media (min-width: 320px) {
  .super-size {
    line-height: calc(1 + 0.1 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .super-size {
    line-height: 1.1;
  }
}

.small {
  font-size: 12px;
}
@media (min-width: 320px) {
  .small {
    font-size: calc(12px + 3 * (100vw - 320px) / 704);
  }
}
@media (min-width: 1024px) {
  .small {
    font-size: 15px;
  }
}

.tiny {
  font-size: 9px;
}
@media (min-width: 320px) {
  .tiny {
    font-size: calc(9px + 3 * (100vw - 320px) / 704);
  }
}
@media (min-width: 1024px) {
  .tiny {
    font-size: 12px;
  }
}

code {
  font-size: 13px;
}
@media (min-width: 320px) {
  code {
    font-size: calc(13px + 4 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  code {
    font-size: 17px;
  }
}

.lh0 {
  line-height: 0;
}

.lh1 {
  line-height: 1;
}

.lh2 {
  line-height: 2;
}

.text-normal {
  font-weight: normal !important;
}

.text-light {
  font-weight: 300 !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-light-italic {
  font-weight: 300;
  font-style: italic !important;
}

.text-bold-italic {
  font-weight: bold;
  font-style: italic !important;
}

.text-normal-light {
  font-weight: normal;
  font-style: normal !important;
}

.text-caps {
  text-transform: uppercase;
}

.text-title {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 25.625em) {
  .small-xl-text-left {
    text-align: left;
  }

  .small-xl-text-right {
    text-align: right;
  }

  .small-xl-text-center {
    text-align: center;
  }
}
@media print, screen and (min-width: 37.5em) {
  .medium-text-left {
    text-align: left;
  }

  .medium-text-right {
    text-align: right;
  }

  .medium-text-center {
    text-align: center;
  }
}
@media screen and (min-width: 48em) {
  .medium-xl-text-left {
    text-align: left;
  }

  .medium-xl-text-right {
    text-align: right;
  }

  .medium-xl-text-center {
    text-align: center;
  }
}
@media screen and (min-width: 50.625em) {
  .medium-xxl-text-left {
    text-align: left;
  }

  .medium-xxl-text-right {
    text-align: right;
  }

  .medium-xxl-text-center {
    text-align: center;
  }
}
@media print, screen and (min-width: 64em) {
  .large-text-left {
    text-align: left;
  }

  .large-text-right {
    text-align: right;
  }

  .large-text-center {
    text-align: center;
  }
}
@media screen and (min-width: 75em) {
  .xlarge-text-left {
    text-align: left;
  }

  .xlarge-text-right {
    text-align: right;
  }

  .xlarge-text-center {
    text-align: center;
  }
}
@media screen and (min-width: 100em) {
  .xxlarge-text-left {
    text-align: left;
  }

  .xxlarge-text-right {
    text-align: right;
  }

  .xxlarge-text-center {
    text-align: center;
  }
}
.text-spacing-1 {
  letter-spacing: 1px;
}

.text-spacing-2 {
  letter-spacing: 2px;
}

.text-spacing-3 {
  letter-spacing: 3px;
}

.text-spacing-4 {
  letter-spacing: 4px;
}

.text-primary {
  color: #000048 !important;
  --heading-color: #000048;
}

.text-accent1-light {
  color: #85a0f9 !important;
  --heading-color: #85a0f9;
}

.text-accent1-medium {
  color: #7373d8 !important;
  --heading-color: #7373d8;
}

.text-accent1-dark {
  color: #2e308e !important;
  --heading-color: #2e308e;
}

.text-accent2-light {
  color: #92bbe6 !important;
  --heading-color: #92bbe6;
}

.text-accent2-medium {
  color: #6aa2dc !important;
  --heading-color: #6aa2dc;
}

.text-accent2-dark {
  color: #2f78c4 !important;
  --heading-color: #2f78c4;
}

.text-white {
  color: #ffffff !important;
  --heading-color: #ffffff;
}

.text-black {
  color: #000048 !important;
  --heading-color: #000048;
}

.text-gray-light {
  color: #d0d0ce !important;
  --heading-color: #d0d0ce;
}

.text-gray-lighter {
  color: #e8e8e6 !important;
  --heading-color: #e8e8e6;
}

.text-gray-lightest {
  color: #f5f5f2 !important;
  --heading-color: #f5f5f2;
}

.text-gray-medium {
  color: #97999b !important;
  --heading-color: #97999b;
}

.text-gray-dark {
  color: #53565a !important;
  --heading-color: #53565a;
}

@media screen and (min-width: 25.625em) {
  .small-xl-text-primary {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .small-xl-text-accent1-light {
    color: #85a0f9 !important;
    --heading-color: #85a0f9;
  }

  .small-xl-text-accent1-medium {
    color: #7373d8 !important;
    --heading-color: #7373d8;
  }

  .small-xl-text-accent1-dark {
    color: #2e308e !important;
    --heading-color: #2e308e;
  }

  .small-xl-text-accent2-light {
    color: #92bbe6 !important;
    --heading-color: #92bbe6;
  }

  .small-xl-text-accent2-medium {
    color: #6aa2dc !important;
    --heading-color: #6aa2dc;
  }

  .small-xl-text-accent2-dark {
    color: #2f78c4 !important;
    --heading-color: #2f78c4;
  }

  .small-xl-text-white {
    color: #ffffff !important;
    --heading-color: #ffffff;
  }

  .small-xl-text-black {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .small-xl-text-gray-light {
    color: #d0d0ce !important;
    --heading-color: #d0d0ce;
  }

  .small-xl-text-gray-lighter {
    color: #e8e8e6 !important;
    --heading-color: #e8e8e6;
  }

  .small-xl-text-gray-lightest {
    color: #f5f5f2 !important;
    --heading-color: #f5f5f2;
  }

  .small-xl-text-gray-medium {
    color: #97999b !important;
    --heading-color: #97999b;
  }

  .small-xl-text-gray-dark {
    color: #53565a !important;
    --heading-color: #53565a;
  }
}
@media print, screen and (min-width: 37.5em) {
  .medium-text-primary {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .medium-text-accent1-light {
    color: #85a0f9 !important;
    --heading-color: #85a0f9;
  }

  .medium-text-accent1-medium {
    color: #7373d8 !important;
    --heading-color: #7373d8;
  }

  .medium-text-accent1-dark {
    color: #2e308e !important;
    --heading-color: #2e308e;
  }

  .medium-text-accent2-light {
    color: #92bbe6 !important;
    --heading-color: #92bbe6;
  }

  .medium-text-accent2-medium {
    color: #6aa2dc !important;
    --heading-color: #6aa2dc;
  }

  .medium-text-accent2-dark {
    color: #2f78c4 !important;
    --heading-color: #2f78c4;
  }

  .medium-text-white {
    color: #ffffff !important;
    --heading-color: #ffffff;
  }

  .medium-text-black {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .medium-text-gray-light {
    color: #d0d0ce !important;
    --heading-color: #d0d0ce;
  }

  .medium-text-gray-lighter {
    color: #e8e8e6 !important;
    --heading-color: #e8e8e6;
  }

  .medium-text-gray-lightest {
    color: #f5f5f2 !important;
    --heading-color: #f5f5f2;
  }

  .medium-text-gray-medium {
    color: #97999b !important;
    --heading-color: #97999b;
  }

  .medium-text-gray-dark {
    color: #53565a !important;
    --heading-color: #53565a;
  }
}
@media screen and (min-width: 48em) {
  .medium-xl-text-primary {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .medium-xl-text-accent1-light {
    color: #85a0f9 !important;
    --heading-color: #85a0f9;
  }

  .medium-xl-text-accent1-medium {
    color: #7373d8 !important;
    --heading-color: #7373d8;
  }

  .medium-xl-text-accent1-dark {
    color: #2e308e !important;
    --heading-color: #2e308e;
  }

  .medium-xl-text-accent2-light {
    color: #92bbe6 !important;
    --heading-color: #92bbe6;
  }

  .medium-xl-text-accent2-medium {
    color: #6aa2dc !important;
    --heading-color: #6aa2dc;
  }

  .medium-xl-text-accent2-dark {
    color: #2f78c4 !important;
    --heading-color: #2f78c4;
  }

  .medium-xl-text-white {
    color: #ffffff !important;
    --heading-color: #ffffff;
  }

  .medium-xl-text-black {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .medium-xl-text-gray-light {
    color: #d0d0ce !important;
    --heading-color: #d0d0ce;
  }

  .medium-xl-text-gray-lighter {
    color: #e8e8e6 !important;
    --heading-color: #e8e8e6;
  }

  .medium-xl-text-gray-lightest {
    color: #f5f5f2 !important;
    --heading-color: #f5f5f2;
  }

  .medium-xl-text-gray-medium {
    color: #97999b !important;
    --heading-color: #97999b;
  }

  .medium-xl-text-gray-dark {
    color: #53565a !important;
    --heading-color: #53565a;
  }
}
@media screen and (min-width: 50.625em) {
  .medium-xxl-text-primary {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .medium-xxl-text-accent1-light {
    color: #85a0f9 !important;
    --heading-color: #85a0f9;
  }

  .medium-xxl-text-accent1-medium {
    color: #7373d8 !important;
    --heading-color: #7373d8;
  }

  .medium-xxl-text-accent1-dark {
    color: #2e308e !important;
    --heading-color: #2e308e;
  }

  .medium-xxl-text-accent2-light {
    color: #92bbe6 !important;
    --heading-color: #92bbe6;
  }

  .medium-xxl-text-accent2-medium {
    color: #6aa2dc !important;
    --heading-color: #6aa2dc;
  }

  .medium-xxl-text-accent2-dark {
    color: #2f78c4 !important;
    --heading-color: #2f78c4;
  }

  .medium-xxl-text-white {
    color: #ffffff !important;
    --heading-color: #ffffff;
  }

  .medium-xxl-text-black {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .medium-xxl-text-gray-light {
    color: #d0d0ce !important;
    --heading-color: #d0d0ce;
  }

  .medium-xxl-text-gray-lighter {
    color: #e8e8e6 !important;
    --heading-color: #e8e8e6;
  }

  .medium-xxl-text-gray-lightest {
    color: #f5f5f2 !important;
    --heading-color: #f5f5f2;
  }

  .medium-xxl-text-gray-medium {
    color: #97999b !important;
    --heading-color: #97999b;
  }

  .medium-xxl-text-gray-dark {
    color: #53565a !important;
    --heading-color: #53565a;
  }
}
@media print, screen and (min-width: 64em) {
  .large-text-primary {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .large-text-accent1-light {
    color: #85a0f9 !important;
    --heading-color: #85a0f9;
  }

  .large-text-accent1-medium {
    color: #7373d8 !important;
    --heading-color: #7373d8;
  }

  .large-text-accent1-dark {
    color: #2e308e !important;
    --heading-color: #2e308e;
  }

  .large-text-accent2-light {
    color: #92bbe6 !important;
    --heading-color: #92bbe6;
  }

  .large-text-accent2-medium {
    color: #6aa2dc !important;
    --heading-color: #6aa2dc;
  }

  .large-text-accent2-dark {
    color: #2f78c4 !important;
    --heading-color: #2f78c4;
  }

  .large-text-white {
    color: #ffffff !important;
    --heading-color: #ffffff;
  }

  .large-text-black {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .large-text-gray-light {
    color: #d0d0ce !important;
    --heading-color: #d0d0ce;
  }

  .large-text-gray-lighter {
    color: #e8e8e6 !important;
    --heading-color: #e8e8e6;
  }

  .large-text-gray-lightest {
    color: #f5f5f2 !important;
    --heading-color: #f5f5f2;
  }

  .large-text-gray-medium {
    color: #97999b !important;
    --heading-color: #97999b;
  }

  .large-text-gray-dark {
    color: #53565a !important;
    --heading-color: #53565a;
  }
}
@media screen and (min-width: 75em) {
  .xlarge-text-primary {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .xlarge-text-accent1-light {
    color: #85a0f9 !important;
    --heading-color: #85a0f9;
  }

  .xlarge-text-accent1-medium {
    color: #7373d8 !important;
    --heading-color: #7373d8;
  }

  .xlarge-text-accent1-dark {
    color: #2e308e !important;
    --heading-color: #2e308e;
  }

  .xlarge-text-accent2-light {
    color: #92bbe6 !important;
    --heading-color: #92bbe6;
  }

  .xlarge-text-accent2-medium {
    color: #6aa2dc !important;
    --heading-color: #6aa2dc;
  }

  .xlarge-text-accent2-dark {
    color: #2f78c4 !important;
    --heading-color: #2f78c4;
  }

  .xlarge-text-white {
    color: #ffffff !important;
    --heading-color: #ffffff;
  }

  .xlarge-text-black {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .xlarge-text-gray-light {
    color: #d0d0ce !important;
    --heading-color: #d0d0ce;
  }

  .xlarge-text-gray-lighter {
    color: #e8e8e6 !important;
    --heading-color: #e8e8e6;
  }

  .xlarge-text-gray-lightest {
    color: #f5f5f2 !important;
    --heading-color: #f5f5f2;
  }

  .xlarge-text-gray-medium {
    color: #97999b !important;
    --heading-color: #97999b;
  }

  .xlarge-text-gray-dark {
    color: #53565a !important;
    --heading-color: #53565a;
  }
}
@media screen and (min-width: 100em) {
  .xxlarge-text-primary {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .xxlarge-text-accent1-light {
    color: #85a0f9 !important;
    --heading-color: #85a0f9;
  }

  .xxlarge-text-accent1-medium {
    color: #7373d8 !important;
    --heading-color: #7373d8;
  }

  .xxlarge-text-accent1-dark {
    color: #2e308e !important;
    --heading-color: #2e308e;
  }

  .xxlarge-text-accent2-light {
    color: #92bbe6 !important;
    --heading-color: #92bbe6;
  }

  .xxlarge-text-accent2-medium {
    color: #6aa2dc !important;
    --heading-color: #6aa2dc;
  }

  .xxlarge-text-accent2-dark {
    color: #2f78c4 !important;
    --heading-color: #2f78c4;
  }

  .xxlarge-text-white {
    color: #ffffff !important;
    --heading-color: #ffffff;
  }

  .xxlarge-text-black {
    color: #000048 !important;
    --heading-color: #000048;
  }

  .xxlarge-text-gray-light {
    color: #d0d0ce !important;
    --heading-color: #d0d0ce;
  }

  .xxlarge-text-gray-lighter {
    color: #e8e8e6 !important;
    --heading-color: #e8e8e6;
  }

  .xxlarge-text-gray-lightest {
    color: #f5f5f2 !important;
    --heading-color: #f5f5f2;
  }

  .xxlarge-text-gray-medium {
    color: #97999b !important;
    --heading-color: #97999b;
  }

  .xxlarge-text-gray-dark {
    color: #53565a !important;
    --heading-color: #53565a;
  }
}
.text-wrap {
  white-space: normal;
}

.text-nowrap {
  white-space: nowrap;
}

.hanging-punctuation {
  text-indent: -0.5em;
}

.gradient-transparent-white-25 {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 25%);
}

.gradient-transparent-black-25 {
  background: linear-gradient(to right, rgba(0, 0, 72, 0), #000048 25%);
}

/* ----  End of TYPOGRAPHY;  ---------------------------- */
/* ====================================================================================

██████  ██       ██████   ██████ ██   ██  ██████  ██    ██  ██████  ████████ ███████ ███████
██   ██ ██      ██    ██ ██      ██  ██  ██    ██ ██    ██ ██    ██    ██    ██      ██
██████  ██      ██    ██ ██      █████   ██    ██ ██    ██ ██    ██    ██    █████   ███████
██   ██ ██      ██    ██ ██      ██  ██  ██ ▄▄ ██ ██    ██ ██    ██    ██    ██           ██
██████  ███████  ██████   ██████ ██   ██  ██████   ██████   ██████     ██    ███████ ███████

==================================================================================== */
blockquote {
  padding: 3.75rem 0;
  text-align: center;
  color: #6aa2dc;
  border: 1px solid #92bbe6;
  border-right: 0;
  border-left: 0;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  font-weight: normal;
  font-feature-settings: "ss00";
  color: var(--heading-color);
}
@media (min-width: 320px) {
  blockquote {
    font-size: calc(22px + 5 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  blockquote {
    font-size: 27px;
  }
}
blockquote cite {
  margin-top: 1.875rem;
  font-weight: normal;
  color: #53565a;
}

/* -----  End of BLOCKQUOTES  ---------- */
/* ==================================================================================================
██      ██ ███████ ████████ ███████
██      ██ ██         ██    ██
██      ██ ███████    ██    ███████
██      ██      ██    ██         ██
███████ ██ ███████    ██    ███████
========================================================================================= */
ul {
  font-size: 16px;
}
@media (min-width: 320px) {
  ul {
    font-size: calc(16px + 4 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  ul {
    font-size: 20px;
  }
}
ul.inside {
  list-style-position: inside;
}
ul.circle {
  list-style-type: circle;
}
ul.square {
  list-style-type: square;
}
ul.collapse li {
  margin-bottom: 0;
}

li {
  margin-bottom: 1rem;
}

li ol,
li ul {
  margin-top: 1rem;
}

@media print, screen and (min-width: 37.5em) {
  ul.inline-list li {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}
dl dt {
  margin-top: 1rem;
  font-weight: bold;
}

/* ----  End of LISTS  ---------------------------------- */
/* ====================================================================================

████████ ███████ ██   ██ ████████     ███████ ██   ██  █████  ██████   ██████  ██     ██
   ██    ██       ██ ██     ██        ██      ██   ██ ██   ██ ██   ██ ██    ██ ██     ██
   ██    █████     ███      ██        ███████ ███████ ███████ ██   ██ ██    ██ ██  █  ██
   ██    ██       ██ ██     ██             ██ ██   ██ ██   ██ ██   ██ ██    ██ ██ ███ ██
   ██    ███████ ██   ██    ██        ███████ ██   ██ ██   ██ ██████   ██████   ███ ███

==================================================================================== */
.text-shadow {
  text-shadow: 0 0 3rem rgba(0, 0, 72, 0.65);
}

.text-shadow1 {
  text-shadow: 0 0 1rem rgba(0, 0, 72, 0.85);
}

.text-shadow4 {
  text-shadow: 0 0 0.5rem black, 0 0 0.3rem rgba(0, 0, 0, 0.6), 0 0 0.2rem rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=rte.css.map */