@charset "UTF-8";
/* Usage Examples
    .my-level-1-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 48px;
        margin: 0 0 0 16px;
    }

    .my-level-2-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 32px; // Don't need to change any settings, will work with any font size automatically
        margin: 0 0 0 16px;
    }

    .my-body-copy-class {
        @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
        font-size: 16px;
    }

    // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output.
    // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings

    .slight-adjustment-needed {
        @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
        font-size: 17px;
    }

    .dont-do-this {
        @include text-crop;
        font-size: 16px;
        line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
    }
*/
.text-crop {
  line-height: 1.3;
}
.text-crop::after, .text-crop::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
}
.text-crop::before {
  margin-bottom: calc(-0.3555555556em + 0px);
}
.text-crop::after {
  margin-top: calc(-0.2444444444em + 0);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

.h1,
h1 {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1px;
}
@media (min-width: 320px) {
  .h1,
h1 {
    font-size: calc(36px + 48 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h1,
h1 {
    font-size: 84px;
  }
}
@media (min-width: 320px) {
  .h1,
h1 {
    line-height: calc(36px + 56.4 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h1,
h1 {
    line-height: 92.4px;
  }
}

.h2,
h2 {
  font-size: 32px;
  line-height: 32px;
}
@media (min-width: 320px) {
  .h2,
h2 {
    font-size: calc(32px + 31 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h2,
h2 {
    font-size: 63px;
  }
}
@media (min-width: 320px) {
  .h2,
h2 {
    line-height: calc(32px + 37.3 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h2,
h2 {
    line-height: 69.3px;
  }
}

.h3,
h3 {
  font-size: 28px;
}
@media (min-width: 320px) {
  .h3,
h3 {
    font-size: calc(28px + 19 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h3,
h3 {
    font-size: 47px;
  }
}

.h4,
h4 {
  font-size: 25px;
}
@media (min-width: 320px) {
  .h4,
h4 {
    font-size: calc(25px + 11 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h4,
h4 {
    font-size: 36px;
  }
}

blockquote,
.h5,
h5 {
  font-size: 22px;
}
@media (min-width: 320px) {
  blockquote,
.h5,
h5 {
    font-size: calc(22px + 5 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  blockquote,
.h5,
h5 {
    font-size: 27px;
  }
}

.h6,
h6 {
  font-size: 20px;
}
@media (min-width: 320px) {
  .h6,
h6 {
    font-size: calc(20px + 0 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .h6,
h6 {
    font-size: 20px;
  }
}

.p,
p {
  font-size: 16px;
  font-weight: normal;
}
@media (min-width: 320px) {
  .p,
p {
    font-size: calc(16px + 4 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .p,
p {
    font-size: 20px;
  }
}
.extra-large {
  font-size: 40px;
  line-height: 1;
}
@media (min-width: 320px) {
  .extra-large {
    font-size: calc(40px + 72 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .extra-large {
    font-size: 112px;
  }
}
@media (min-width: 320px) {
  .extra-large {
    line-height: calc(1 + 0.1 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .extra-large {
    line-height: 1.1;
  }
}

.super-size {
  font-size: 48px;
  line-height: 1;
}
@media (min-width: 320px) {
  .super-size {
    font-size: calc(48px + 92 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .super-size {
    font-size: 140px;
  }
}
@media (min-width: 320px) {
  .super-size {
    line-height: calc(1 + 0.1 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  .super-size {
    line-height: 1.1;
  }
}

.small {
  font-size: 12px;
}
@media (min-width: 320px) {
  .small {
    font-size: calc(12px + 3 * (100vw - 320px) / 704);
  }
}
@media (min-width: 1024px) {
  .small {
    font-size: 15px;
  }
}

.tiny {
  font-size: 9px;
}
@media (min-width: 320px) {
  .tiny {
    font-size: calc(9px + 3 * (100vw - 320px) / 704);
  }
}
@media (min-width: 1024px) {
  .tiny {
    font-size: 12px;
  }
}

b,
strong,
.text-bold {
  font-weight: bold !important;
}

.text-italic {
  font-style: italic;
}

.lh0 {
  line-height: 0;
}

.lh1 {
  line-height: 1;
}

.lh2 {
  line-height: 2;
}

.text-normal {
  font-weight: normal !important;
}

.text-thin {
  font-weight: 100 !important;
}

.text-light {
  font-weight: 300 !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-heavy {
  font-weight: 900 !important;
}

.text-thin-italic {
  font-weight: 100;
  font-style: italic !important;
}

.text-light-italic {
  font-weight: 300;
  font-style: italic !important;
}

.text-bold-italic {
  font-weight: bold;
  font-style: italic !important;
}

.text-heavy-italic {
  font-weight: 900;
  font-style: italic !important;
}

.text-normal-light {
  font-weight: normal;
  font-style: normal !important;
}

.text-caps {
  text-transform: uppercase;
}

.text-title {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 25.625em) {
  .small-xl-text-left {
    text-align: left;
  }

  .small-xl-text-right {
    text-align: right;
  }

  .small-xl-text-center {
    text-align: center;
  }
}
@media print, screen and (min-width: 37.5em) {
  .medium-text-left {
    text-align: left;
  }

  .medium-text-right {
    text-align: right;
  }

  .medium-text-center {
    text-align: center;
  }
}
@media screen and (min-width: 48em) {
  .medium-xl-text-left {
    text-align: left;
  }

  .medium-xl-text-right {
    text-align: right;
  }

  .medium-xl-text-center {
    text-align: center;
  }
}
@media screen and (min-width: 50.625em) {
  .medium-xxl-text-left {
    text-align: left;
  }

  .medium-xxl-text-right {
    text-align: right;
  }

  .medium-xxl-text-center {
    text-align: center;
  }
}
@media print, screen and (min-width: 64em) {
  .large-text-left {
    text-align: left;
  }

  .large-text-right {
    text-align: right;
  }

  .large-text-center {
    text-align: center;
  }
}
@media screen and (min-width: 75em) {
  .xlarge-text-left {
    text-align: left;
  }

  .xlarge-text-right {
    text-align: right;
  }

  .xlarge-text-center {
    text-align: center;
  }
}
@media screen and (min-width: 100em) {
  .xxlarge-text-left {
    text-align: left;
  }

  .xxlarge-text-right {
    text-align: right;
  }

  .xxlarge-text-center {
    text-align: center;
  }
}
.text-spacing-1 {
  letter-spacing: 1px;
}

.text-spacing-2 {
  letter-spacing: 2px;
}

.text-spacing-3 {
  letter-spacing: 3px;
}

.text-spacing-4 {
  letter-spacing: 4px;
}

.text-blue-bright {
  color: #6dccff !important;
}

.text-blue-light {
  color: #328dff !important;
}

.text-blue-medium {
  color: #2d67ff !important;
}

.text-blue {
  color: #0033a0 !important;
}

.text-blue-dark {
  color: #000063 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}

.text-gray-dark {
  color: #333333 !important;
}

.text-gray {
  color: #666666 !important;
}

.text-gray-medium {
  color: #b3b3b3 !important;
}

.text-green {
  color: #00b140 !important;
}

@media screen and (min-width: 25.625em) {
  .small-xl-text-blue-bright {
    color: #6dccff !important;
  }

  .small-xl-text-blue-light {
    color: #328dff !important;
  }

  .small-xl-text-blue-medium {
    color: #2d67ff !important;
  }

  .small-xl-text-blue {
    color: #0033a0 !important;
  }

  .small-xl-text-blue-dark {
    color: #000063 !important;
  }

  .small-xl-text-white {
    color: #ffffff !important;
  }

  .small-xl-text-black {
    color: #000000 !important;
  }

  .small-xl-text-gray-dark {
    color: #333333 !important;
  }

  .small-xl-text-gray {
    color: #666666 !important;
  }

  .small-xl-text-gray-medium {
    color: #b3b3b3 !important;
  }

  .small-xl-text-green {
    color: #00b140 !important;
  }
}
@media print, screen and (min-width: 37.5em) {
  .medium-text-blue-bright {
    color: #6dccff !important;
  }

  .medium-text-blue-light {
    color: #328dff !important;
  }

  .medium-text-blue-medium {
    color: #2d67ff !important;
  }

  .medium-text-blue {
    color: #0033a0 !important;
  }

  .medium-text-blue-dark {
    color: #000063 !important;
  }

  .medium-text-white {
    color: #ffffff !important;
  }

  .medium-text-black {
    color: #000000 !important;
  }

  .medium-text-gray-dark {
    color: #333333 !important;
  }

  .medium-text-gray {
    color: #666666 !important;
  }

  .medium-text-gray-medium {
    color: #b3b3b3 !important;
  }

  .medium-text-green {
    color: #00b140 !important;
  }
}
@media screen and (min-width: 48em) {
  .medium-xl-text-blue-bright {
    color: #6dccff !important;
  }

  .medium-xl-text-blue-light {
    color: #328dff !important;
  }

  .medium-xl-text-blue-medium {
    color: #2d67ff !important;
  }

  .medium-xl-text-blue {
    color: #0033a0 !important;
  }

  .medium-xl-text-blue-dark {
    color: #000063 !important;
  }

  .medium-xl-text-white {
    color: #ffffff !important;
  }

  .medium-xl-text-black {
    color: #000000 !important;
  }

  .medium-xl-text-gray-dark {
    color: #333333 !important;
  }

  .medium-xl-text-gray {
    color: #666666 !important;
  }

  .medium-xl-text-gray-medium {
    color: #b3b3b3 !important;
  }

  .medium-xl-text-green {
    color: #00b140 !important;
  }
}
@media screen and (min-width: 50.625em) {
  .medium-xxl-text-blue-bright {
    color: #6dccff !important;
  }

  .medium-xxl-text-blue-light {
    color: #328dff !important;
  }

  .medium-xxl-text-blue-medium {
    color: #2d67ff !important;
  }

  .medium-xxl-text-blue {
    color: #0033a0 !important;
  }

  .medium-xxl-text-blue-dark {
    color: #000063 !important;
  }

  .medium-xxl-text-white {
    color: #ffffff !important;
  }

  .medium-xxl-text-black {
    color: #000000 !important;
  }

  .medium-xxl-text-gray-dark {
    color: #333333 !important;
  }

  .medium-xxl-text-gray {
    color: #666666 !important;
  }

  .medium-xxl-text-gray-medium {
    color: #b3b3b3 !important;
  }

  .medium-xxl-text-green {
    color: #00b140 !important;
  }
}
@media print, screen and (min-width: 64em) {
  .large-text-blue-bright {
    color: #6dccff !important;
  }

  .large-text-blue-light {
    color: #328dff !important;
  }

  .large-text-blue-medium {
    color: #2d67ff !important;
  }

  .large-text-blue {
    color: #0033a0 !important;
  }

  .large-text-blue-dark {
    color: #000063 !important;
  }

  .large-text-white {
    color: #ffffff !important;
  }

  .large-text-black {
    color: #000000 !important;
  }

  .large-text-gray-dark {
    color: #333333 !important;
  }

  .large-text-gray {
    color: #666666 !important;
  }

  .large-text-gray-medium {
    color: #b3b3b3 !important;
  }

  .large-text-green {
    color: #00b140 !important;
  }
}
@media screen and (min-width: 75em) {
  .xlarge-text-blue-bright {
    color: #6dccff !important;
  }

  .xlarge-text-blue-light {
    color: #328dff !important;
  }

  .xlarge-text-blue-medium {
    color: #2d67ff !important;
  }

  .xlarge-text-blue {
    color: #0033a0 !important;
  }

  .xlarge-text-blue-dark {
    color: #000063 !important;
  }

  .xlarge-text-white {
    color: #ffffff !important;
  }

  .xlarge-text-black {
    color: #000000 !important;
  }

  .xlarge-text-gray-dark {
    color: #333333 !important;
  }

  .xlarge-text-gray {
    color: #666666 !important;
  }

  .xlarge-text-gray-medium {
    color: #b3b3b3 !important;
  }

  .xlarge-text-green {
    color: #00b140 !important;
  }
}
@media screen and (min-width: 100em) {
  .xxlarge-text-blue-bright {
    color: #6dccff !important;
  }

  .xxlarge-text-blue-light {
    color: #328dff !important;
  }

  .xxlarge-text-blue-medium {
    color: #2d67ff !important;
  }

  .xxlarge-text-blue {
    color: #0033a0 !important;
  }

  .xxlarge-text-blue-dark {
    color: #000063 !important;
  }

  .xxlarge-text-white {
    color: #ffffff !important;
  }

  .xxlarge-text-black {
    color: #000000 !important;
  }

  .xxlarge-text-gray-dark {
    color: #333333 !important;
  }

  .xxlarge-text-gray {
    color: #666666 !important;
  }

  .xxlarge-text-gray-medium {
    color: #b3b3b3 !important;
  }

  .xxlarge-text-green {
    color: #00b140 !important;
  }
}
.bg-blue h1,
.bg-blue h2,
.bg-blue h3,
.bg-blue h4,
.bg-blue h5,
.bg-blue h6,
.bg-blue li,
.bg-blue p,
.bg-blue-dark h1,
.bg-blue-dark h2,
.bg-blue-dark h3,
.bg-blue-dark h4,
.bg-blue-dark h5,
.bg-blue-dark h6,
.bg-blue-dark li,
.bg-blue-dark p,
.gray-dark h1,
.gray-dark h2,
.gray-dark h3,
.gray-dark h4,
.gray-dark h5,
.gray-dark h6,
.gray-dark li,
.gray-dark p,
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white li,
.text-white p {
  color: #ffffff;
}

[class*=bg-black],
.bg-blue,
.bg-blue-85,
[class*=bg][class*=dark],
.bg-blue-medium,
.bg-blue-light,
.bg-gray,
.bg-red,
[class*=bgOverlay][class*=dark],
.bgOverlay-blue,
.bgOverlay-black {
  color: #ffffff;
}
[class*=bg-black] span,
.bg-blue span,
.bg-blue-85 span,
[class*=bg][class*=dark] span,
.bg-blue-medium span,
.bg-blue-light span,
.bg-gray span,
.bg-red span,
[class*=bgOverlay][class*=dark] span,
.bgOverlay-blue span,
.bgOverlay-black span {
  color: #ffffff;
}

.text-wrap {
  white-space: normal;
}

.text-nowrap {
  white-space: nowrap;
}

.hanging-punctuation {
  text-indent: -0.5em;
}

.gradient-transparent-white-25 {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 25%);
}

.gradient-transparent-black-25 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), black 25%);
}

/* ----  End of TYPOGRAPHY;  ---------------------------- */
/* ====================================================================================

██████  ██       ██████   ██████ ██   ██  ██████  ██    ██  ██████  ████████ ███████ ███████
██   ██ ██      ██    ██ ██      ██  ██  ██    ██ ██    ██ ██    ██    ██    ██      ██
██████  ██      ██    ██ ██      █████   ██    ██ ██    ██ ██    ██    ██    █████   ███████
██   ██ ██      ██    ██ ██      ██  ██  ██ ▄▄ ██ ██    ██ ██    ██    ██    ██           ██
██████  ███████  ██████   ██████ ██   ██  ██████   ██████   ██████     ██    ███████ ███████
                                             ▀▀
==================================================================================== */
blockquote {
  padding: 3.75rem 0;
  text-align: center;
  color: #2d67ff;
  border: 1px solid #328dff;
  border-right: 0;
  border-left: 0;
  font-weight: bold;
  font-style: italic;
}
blockquote cite {
  margin-top: 1.875rem;
  font-weight: normal;
  color: #333333;
}

/* -----  End of BLOCKQUOTES  ---------- */
/* ==================================================================================================
██      ██ ███████ ████████ ███████
██      ██ ██         ██    ██
██      ██ ███████    ██    ███████
██      ██      ██    ██         ██
███████ ██ ███████    ██    ███████
========================================================================================= */
ul {
  font-size: 16px;
}
@media (min-width: 320px) {
  ul {
    font-size: calc(16px + 4 * (100vw - 320px) / 880);
  }
}
@media (min-width: 1200px) {
  ul {
    font-size: 20px;
  }
}
ul.inside {
  list-style-position: inside;
}
ul.circle {
  list-style-type: circle;
}
ul.square {
  list-style-type: square;
}
ul.collapse li {
  margin-bottom: 0;
}

li {
  margin-bottom: 1rem;
}

li ol,
li ul {
  margin-top: 1rem;
}

@media print, screen and (min-width: 37.5em) {
  ul.inline-list li {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}
dl dt {
  margin-top: 1rem;
  font-weight: bold;
}

/* ----  End of LISTS  ---------------------------------- */
/* ====================================================================================

████████ ███████ ██   ██ ████████     ███████ ██   ██  █████  ██████   ██████  ██     ██
   ██    ██       ██ ██     ██        ██      ██   ██ ██   ██ ██   ██ ██    ██ ██     ██
   ██    █████     ███      ██        ███████ ███████ ███████ ██   ██ ██    ██ ██  █  ██
   ██    ██       ██ ██     ██             ██ ██   ██ ██   ██ ██   ██ ██    ██ ██ ███ ██
   ██    ███████ ██   ██    ██        ███████ ██   ██ ██   ██ ██████   ██████   ███ ███

==================================================================================== */
.text-shadow {
  text-shadow: 0 0 3rem rgba(0, 0, 0, 0.65);
}

.text-shadow1 {
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.85);
}

.text-shadow4 {
  text-shadow: 0 0 0.5rem black, 0 0 0.3rem rgba(0, 0, 0, 0.6), 0 0 0.2rem rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=rte.css.map */