doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Cognizant | COMPONENT PROTOTYPES
        link(rel='stylesheet', href='css/app.css')


    body#pjax
        a.button.tiny.m2(href="index.html") BACK
        h3 Accordion-Agenda
        .grid-x.grid-padding-x
            .cell
                ul.accordion(data-accordion data-multi-expand="false" data-allow-all-closed="true")
                    li.accordion-item.is-active(data-accordion-item)
                        a.accordion-title(href="#") Accordion 01
                        .accordion-content(data-tab-content)
                            .grid-x.grid-padding-x
                                .medium-3.cell
                                    h4.small-m0 September
                                    h1.text-bold 16
                                        sup.text-normal th
                                .medium-9.cell
                                    .grid-x.grid-padding-x
                                        .medium-2.cell
                                            h4 9:00
                                                sup.text-normal am
                                        .medium-10.cell
                                            a(href="#")
                                                h5 Event title Lorem ipsum dolor sit amet.

                                            strong Speaker name
                                            p.small
                                                em Professional Title from Speaker

                                            .read-more
                                                p Event body description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus, temporibus, cum quas consequuntur debitis illo dolor sint nobis porro! Necessitatibus blanditiis libero qui, ducimus sapiente sint quos ea exercitationem.
                                                p Event body description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus, temporibus, cum quas consequuntur debitis illo dolor sint nobis porro! Necessitatibus blanditiis libero qui, ducimus sapiente sint quos ea exercitationem.

                                                .grid-x.grid-padding-x.small-mb1
                                                    .cell
                                                        img(src="images/PDF-thumbnail.jpg")

                                                p Event body description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus, temporibus, cum quas consequuntur debitis illo dolor sint nobis porro! Necessitatibus blanditiis libero qui, ducimus sapiente sint quos ea exercitationem.


                                    hr
                                    .grid-x.grid-padding-x
                                        .medium-2.cell
                                            h4 10:00
                                                sup.text-normal am
                                        .medium-10.cell
                                            a(href="#")
                                                h5 Event title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi error excepturi natus, voluptate necessitatibus ducimus.

                                            strong Speaker name
                                            p.small
                                                em Professional Title from Speaker

                                            .read-more
                                                p Event body description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus, temporibus, cum quas consequuntur debitis illo dolor sint nobis porro! Necessitatibus blanditiis libero qui, ducimus sapiente sint quos ea exercitationem.
                                                p Event body description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus, temporibus, cum quas consequuntur debitis illo dolor sint nobis porro! Necessitatibus blanditiis libero qui, ducimus sapiente sint quos ea exercitationem.
                                                p Event body description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus, temporibus, cum quas consequuntur debitis illo dolor sint nobis porro! Necessitatibus blanditiis libero qui, ducimus sapiente sint quos ea exercitationem.
                                    hr
                                    .grid-x.grid-padding-x
                                        .medium-2.cell
                                            h4 12:00
                                                sup.text-normal pm
                                        .medium-10.cell
                                            a(href="#")
                                                h5 Event title Lorem ipsum dolor.

                                            strong Speaker name
                                            p.small
                                                em Professional Title from Speaker

                                            .read-more
                                                p Event body description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus, temporibus, cum quas consequuntur debitis illo dolor sint nobis porro! Necessitatibus blanditiis libero qui, ducimus sapiente sint quos ea exercitationem.
                                                p Event body description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus, temporibus, cum quas consequuntur debitis illo dolor sint nobis porro! Necessitatibus blanditiis libero qui, ducimus sapiente sint quos ea exercitationem.

                                                p Event body description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusamus, temporibus, cum quas consequuntur debitis illo dolor sint nobis porro! Necessitatibus blanditiis libero qui, ducimus sapiente sint quos ea exercitationem.


                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#") Accordion 01
                        .accordion-content(data-tab-content)
                            .grid-x.grid-padding-x
                                .medium-3.cell
                                    h4 September
                                    h1.text-bold 16
                                        sup.text-normal th
                                .medium-9.cell
                                    .grid-x.grid-padding-x.small-mb2
                                        .medium-2.cell
                                            h4 9
                                                sup.text-normal 30
                                        .medium-11.cell.bd-b1.pb1
                                            a(href="#")
                                                h5 Event title
                                            p Event body description
                                    .grid-x.grid-padding-x.small-mb2
                                        .medium-2.cell
                                            h4 10
                                                sup.text-normal 00
                                        .medium-11.cell.bd-b1.pb1
                                            a(href="#")
                                                h5 Event title
                                            p Event body description
                                    .grid-x.grid-padding-x.small-mb2
                                        .medium-2.cell
                                            h4 12
                                                sup.text-normal 45
                                        .medium-11.cell.bd-b1.pb1
                                            a(href="#")
                                                h5 Event title
                                            p Event body description
                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#") Accordion 01
                        .accordion-content(data-tab-content)
                            .grid-x.grid-padding-x
                                .medium-3.cell
                                    h4 September
                                    h1.text-bold 16
                                        sup.text-normal th
                                .medium-9.cell
                                    .grid-x.grid-padding-x.small-mb2
                                        .medium-2.cell
                                            h4 9
                                                sup.text-normal 30
                                        .medium-11.cell.bd-b1.pb1
                                            a(href="#")
                                                h5 Event title
                                            p Event body description
                                    .grid-x.grid-padding-x.small-mb2
                                        .medium-2.cell
                                            h4 10
                                                sup.text-normal 00
                                        .medium-11.cell.bd-b1.pb1
                                            a(href="#")
                                                h5 Event title
                                            p Event body description
                                    .grid-x.grid-padding-x.small-mb2
                                        .medium-2.cell
                                            h4 12
                                                sup.text-normal 45
                                        .medium-11.cell.bd-b1.pb1
                                            a(href="#")
                                                h5 Event title
                                            p Event body description

        hr
        h3 Accordion-Agenda DARK
        .bg-gray-dark.p1
            .grid-x.grid-padding-x
                .cell
                    ul.accordion(data-accordion data-multi-expand="false" data-allow-all-closed="true")
                        li.accordion-item(data-accordion-item)
                            a.accordion-title(href="#") Accordion 01
                            .accordion-content.bg-gray-dark.bd-gray-dark(data-tab-content)
                                .grid-x.grid-padding-x.text-white
                                    .medium-3.cell
                                        h4 September
                                        h1.text-bold 16
                                            sup.text-normal th
                                    .medium-9.cell
                                        .grid-x.grid-padding-x.small-mb2
                                            .medium-2.cell
                                                h4 9
                                                    sup.text-normal 30
                                            .medium-11.cell.bd-b-gray-dark1.pb1
                                                a(href="#")
                                                    h5 Event title
                                                p Event body description
                                        .grid-x.grid-padding-x.small-mb2
                                            .medium-2.cell
                                                h4 10
                                                    sup.text-normal 00
                                            .medium-11.cell.bd-b-gray-dark1.pb1
                                                a(href="#")
                                                    h5 Event title
                                                p Event body description
                                        .grid-x.grid-padding-x.small-mb2
                                            .medium-2.cell
                                                h4 12
                                                    sup.text-normal 45
                                            .medium-11.cell.bd-b-gray-dark1.pb1
                                                a(href="#")
                                                    h5 Event title
                                                p Event body description
                        li.accordion-item(data-accordion-item)
                            a.accordion-title(href="#") Accordion 01
                            .accordion-content.bg-gray-dark.bd-gray-dark(data-tab-content)
                                .grid-x.grid-padding-x.text-white
                                    .medium-3.cell
                                        h4 September
                                        h1.text-bold 16
                                            sup.text-normal th
                                    .medium-9.cell
                                        .grid-x.grid-padding-x.small-mb2
                                            .medium-2.cell
                                                h4 9
                                                    sup.text-normal 30
                                            .medium-11.cell.bd-b-gray-dark1.pb1
                                                a(href="#")
                                                    h5 Event title
                                                p Event body description
                                        .grid-x.grid-padding-x.small-mb2
                                            .medium-2.cell
                                                h4 10
                                                    sup.text-normal 00
                                            .medium-11.cell.bd-b-gray-dark1.pb1
                                                a(href="#")
                                                    h5 Event title
                                                p Event body description
                                        .grid-x.grid-padding-x.small-mb2
                                            .medium-2.cell
                                                h4 12
                                                    sup.text-normal 45
                                            .medium-11.cell.bd-b-gray-dark1.pb1
                                                a(href="#")
                                                    h5 Event title
                                                p Event body description
                        li.accordion-item(data-accordion-item)
                            a.accordion-title(href="#") Accordion 01
                            .accordion-content.bg-gray-dark.bd-gray-dark(data-tab-content)
                                .grid-x.grid-padding-x.text-white
                                    .medium-3.cell
                                        h4 September
                                        h1.text-bold 16
                                            sup.text-normal th
                                    .medium-9.cell
                                        .grid-x.grid-padding-x.small-mb2
                                            .medium-2.cell
                                                h4 9
                                                    sup.text-normal 30
                                            .medium-11.cell.bd-b-gray-dark1.pb1
                                                a(href="#")
                                                    h5 Event title
                                                p Event body description
                                        .grid-x.grid-padding-x.small-mb2
                                            .medium-2.cell
                                                h4 10
                                                    sup.text-normal 00
                                            .medium-11.cell.bd-b-gray-dark1.pb1
                                                a(href="#")
                                                    h5 Event title
                                                p Event body description
                                        .grid-x.grid-padding-x.small-mb2
                                            .medium-2.cell
                                                h4 12
                                                    sup.text-normal 45
                                            .medium-11.cell.bd-b-gray-dark1.pb1
                                                a(href="#")
                                                    h5 Event title
                                                p Event body description

        hr
        h3 Accordion-News
        .grid-x.grid-padding-x
            .cell
                ul.accordion(data-accordion data-multi-expand="false" data-allow-all-closed="true")
                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#")
                            .small.text-white.text-caps.block.small-mb-half
                                i.calendar.fw600.small-mr-half
                                | September 14, 2016
                            | Accordion 01
                        .accordion-content(data-tab-content)
                            h4.text-bold.text-blue Human-Centric Design: How Design Thinking Can Power Creative Problem-solving, Drive Change and Deliver value

                            img.inline.float-left.small-mr1.small-mb1(src="https://unsplash.it/300/300?image=607")

                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            a.button.arrow(href="#") read more
                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#")
                            .small.text-white.text-caps.block.small-mb-half
                                i.calendar.fw600.small-mr-half
                                | September 14, 2016
                            | Accordion 01
                        .accordion-content(data-tab-content)
                            h4.text-bold.text-blue Human-Centric Design: How Design Thinking Can Power Creative Problem-solving, Drive Change and Deliver value

                            img.inline.float-left.small-mr1.small-mb1(src="https://unsplash.it/300/300?image=607")

                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            a.button.arrow(href="#") read more
                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#")
                            .small.text-white.text-caps.block.small-mb-half
                                i.calendar.fw600.small-mr-half
                                | September 14, 2016
                            | Accordion 01
                        .accordion-content(data-tab-content)
                            h4.text-bold.text-blue Human-Centric Design: How Design Thinking Can Power Creative Problem-solving, Drive Change and Deliver value

                            img.inline.float-left.small-mr1.small-mb1(src="https://unsplash.it/300/300?image=607")

                            h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            a.button.arrow(href="#") read more

        hr
        h3 Accordion-Event
        .grid-x.grid-padding-x
            .cell
                ul.accordion(data-accordion data-multi-expand="false" data-allow-all-closed="true")
                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#")
                            .small.text-white.text-caps.block.small-mb-half
                                i.clock.fw600.small-mr-half
                                | 8:00
                            | Accordion 01
                        .accordion-content(data-tab-content)
                            h4 8
                                sup.text-normal 00
                                | — 12
                                sup.text-normal 00

                            h4.text-bold.text-blue Human-Centric Design: How Design Thinking Can Power Creative Problem-solving, Drive Change and Deliver value
                            p.small Santosh Thomas, Executive Vice President, CEMEA & APAC, Cognizant

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            a.button.arrow(href="#") read more
                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#")
                            .small.text-white.text-caps.block.small-mb-half
                                i.clock.fw600.small-mr-half
                                | 8:00
                            | Accordion 01
                        .accordion-content(data-tab-content)
                            h4 8
                                sup.text-normal 00
                                | — 12
                                sup.text-normal 00

                            h4.text-bold.text-blue Human-Centric Design: How Design Thinking Can Power Creative Problem-solving, Drive Change and Deliver value
                            p.small Santosh Thomas, Executive Vice President, CEMEA & APAC, Cognizant

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            a.button.arrow(href="#") read more
                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#")
                            .small.text-white.text-caps.block.small-mb-half
                                i.clock.fw600.small-mr-half
                                | 8:00
                            | Accordion 01
                        .accordion-content(data-tab-content)
                            h4 8
                                sup.text-normal 00
                                | — 12
                                sup.text-normal 00

                            h4.text-bold.text-blue Human-Centric Design: How Design Thinking Can Power Creative Problem-solving, Drive Change and Deliver value
                            p.small Santosh Thomas, Executive Vice President, CEMEA & APAC, Cognizant

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            a.button.arrow(href="#") read more

        hr
        h3 Accordion-2-Third-1-Third-Headline
        .grid-x.grid-padding-x
            .cell
                ul.accordion(data-accordion data-multi-expand="false" data-allow-all-closed="true")
                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#")
                            | Accordion 01
                        .accordion-content(data-tab-content)
                            .grid-x.grid-padding-x
                                .small-12.medium-4.cell
                                    h3.small-m0 MODERNIZE EXPERIENCE ACCELERATE PERFORMANCE.
                                    hr.blue
                                    h5
                                        a(href="#")
                                            i.share.fw600.text-blue
                                .small-12.medium-8.cell
                                    h5.text-blue-dark.small-m0 Lorem ipsum dolor sit amet
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

                                    h5.text-blue-dark.small-m0 Enhance Customer Experience
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

                                    h5.text-blue-dark.small-m0 Smarter Business Operations
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

                                    h5.text-blue-dark.small-m0 Intelligent Products & Services
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

                                    h5.text-blue-dark.small-m0 Risk Compliance & Fraud Detection
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

                                    h5.text-blue-dark.small-m0 GDPR Solutions
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

                                    h5.text-blue-dark.small-m0 Claims and Care Analytics-based Solutions
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

                                    h5.text-blue-dark.small-m0 Digital Supply Chain
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.


        hr
        h3 Accordion-2-Third-1-Third
        .grid-x.grid-padding-x
            .cell
                ul.accordion(data-accordion data-multi-expand="false" data-allow-all-closed="true")
                    li.accordion-item(data-accordion-item)
                        a.accordion-title(href="#")
                            | Accordion 01
                        .accordion-content(data-tab-content)
                            .grid-x.grid-padding-x
                                .small-12.medium-8.cell
                                    h5.text-blue-dark.small-m0 Lorem ipsum dolor sit amet
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

                                    h5.text-blue-dark.small-m0 Lorem ipsum dolor sit amet
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                                .small-12.medium-4.cell
                                    .card.bg-gray-light
                                        img(src="https://unsplash.it/300/150?image=901")
                                        .card-section.pb0
                                            h6.text-blue-dark SOLUTIONS OVERVIEW
                                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        .card-divider.bg-gray-light
                                            a.button.small.arrow(href="#") download pdf



        //- -----  End of ACCORDIONS  ---------------------------------------------


        script(src='../js/min/app-min.js')